button {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #555555 #555555 #555555 #555555;
	background-color: #000000;
	background: -webkit-linear-gradient(#555555, #111111);
	background: -moz-linear-gradient(#555555, #111111);
	
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-family: "Trebuchet MS","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
}

button:hover {
	border-color: #DD8800;
	background-color: #FFAA00;
	background: -webkit-linear-gradient(#FFAA00, #DD8800);
	background: -moz-linear-gradient(#FFAA00, #DD8800);
}

button.small {
	width: 100px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	font-weight: normal;	
}

button.combobox {
	margin: 0px;
	padding: 0px;
	top: 1px;
	border-radius: 0px 5px 5px 0px;
	width: 2.4em;
	border-radius: 0 5px 5px 0;
	display: inline-block;
	overflow: visible;
	position: relative;
	text-decoration: none !important;
}

button.combobox .ui-button-icon-primary.ui-icon.ui-icon-triangle-1-s {
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
	
	height: 15px;
	width: 16px;
	
	background-position: -66px -16px;
	background-repeat: no-repeat;
	background-image: url("../images/default/ui/icons.png");

	display: block;
	overflow: hidden;	
}

button.combobox .ui-button-text {
	display: block;
	margin: 0px;
	padding: 0px;	
	padding-bottom: 2px;
	padding-top: 1px;
}