#wormholeContext {
	position: absolute;
	width: 210px;
}
#wormholeContext #wormholeContextHeader {
	background-image: url("../images/default/contextmenu.header.png");
	height: 10px;
	overflow: hidden;
}
#wormholeContext #wormholeContextMenu {
	background-image: url("../images/default/contextmenu.content.png");
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#wormholeContext #wormholeContextFooter {
	background-image: url("../images/default/contextmenu.footer.png");
	height: 10px;
	overflow: hidden;
}

#wormholeContext #wormholeContextMenu #contextTitle {
	font-size: 14px;
	font-weight: bold;
	border-bottom: solid 1px #AAAAAA;
	color: #DDDDDD;
}

#wormholeContext #wormholeContextMenu #contextMenu {
	margin: 2px;
	margin-top: 15px;
}
#wormholeContext #wormholeContextMenu #contextMenu div {
	border-radius: none;
	padding: 2px;
	border-bottom: solid 1px #222222;
}
#wormholeContext #wormholeContextMenu #contextMenu div img {
	margin-right: 5px;
}
#wormholeContext #wormholeContextMenu #contextMenu div:hover {
	background-color: #444444;
	border-radius: 5px;
	cursor: pointer;
}

div.contextMenuSmallbuttons {
	text-align: center;	
}
div.contextMenuSmallbuttons img {
	border: 0px;
	height: 16px;
	margin: 2px;
}
div.contextMenuSmallbuttons img:hover {
	height: 18px;
	margin: 0px;
}