@font-face {
    font-family: EveSans;
    src: url(fonts/evesans.ttf);
}
@font-face {
    font-family: EveAlpha;
    src: url(fonts/evealpha.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/opensans/opensans-regular.ttf);
}


body {
    background: url(../images/default/background.jpg) fixed;
	font-family: "Trebuchet MS",MetaBlack,sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Trebuchet MS",MetaBlack,sans-serif;
	font-size: 26px;
	color: #EEEEEE;
    margin: 15px 0 20px;
    padding: 0;
	border-bottom: solid 1px #CCCCCC;
}

h2 {
	font-family: "Trebuchet MS",MetaBlack,sans-serif;
	font-size: 18px;
	color: #EEEEEE;
    margin: 5px 0 10px;
    padding: 0;
	border-bottom: solid 1px #CCCCCC;
}

h3 {
	font-size: 14px;
	color: #EEEEEE;
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 12px;
	color: #EEEEEE;
	margin: 0;
	padding: 0;
}

a {
	color: #FFAA00;
}

a:hover {
	color: #FFCC11;
}

a:visited {
	color: #FFAA00;
}

#header {
    position: relative;
	padding: 0;
	margin: 0;
}

#infoheader {
	background-color: #555555 !important;
	margin-bottom: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#infoheaderbar {
	width: 95%;
	max-width: 980px;
	text-align: left;
	margin: 0 auto;
	font-weight: bold;
	color: #FFFFFF;
	overflow: hidden;
	white-space: nowrap;
}

div#infoheader-name {
	float: left;
	width: 48%;
	text-align: left;
}
div#infoheader-info {
	float: right;
	width: 48%;
	text-align: right;
}

@media (max-width: 350px) {
	div#infoheader-name {
		float: none;
		width: 100%;
	}
	div#infoheader-info {
		float: none;
		display: none;
	}
}

#maincontainer {
	width: 95%;
	max-width: 1200px;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

#maincontent {
	margin: 0 auto;
}
@media (max-width: 550px) {
	#maincontainer {
		width: 100%;
	}
}

div.content {
    position: relative;
	background: none repeat scroll 0 0 rgba(10, 10, 10, 0.6);
	padding: 10px;
	margin: 0;
}

div.clear {
	clear: both;
}

div#loginform {
    width: 600px;
    margin: 100px auto 0;
    padding-top: 50px;
	padding-bottom: 50px;
}
div#loginform div.loginSubForm {
	margin: 0 auto;
	width: 400px;
}

div#registerPage {
    width: 700px;
    margin: 100px auto 0;
    padding-top: 50px;
	padding-bottom: 50px;
}
div#registerPage div.registerSubForm {
	margin: 0 auto;
	width: 600px;
}
div#registerPage div.registerSubForm label.field {
	width: 100px !important;
}
div#registerPage div.registerSubForm label.value {
	width: 230px !important;
}
div#registerPage div.registerSubForm label.value input {
	width: 99% !important;
}

div#registerform {
	float: left;
	width: 60%;
}
div#registertext {
	float: right;
	width: 38%;
}

div#loginform div.form label.value,
div#loginform div.form label.value input,
div#registerform div.form label.value,
div#registerform div.form label.value input {
	width: 250px;
}

div#loginform div.form label.field,
div#registerform div.form label.field {
	width: 140px;
}

table.sectionoverview {
	width: 100%;
}

table.sectionoverview tr th,
table.sectionoverview tr td {
	text-align: left;
	padding: 3px;
}

table.sectionoverview tr th {
	background-color: #232323;
	color: #FFFFFF;
}

table.sectionoverview tr th.large {
	font-size: 15px;
	text-shadow: 1px 1px 1px #555555;
}

table.sectionoverview tr th img {
	margin-left: 10px;
}

table.sectionoverview tr th input {
	width: 60px;
    font-family: Arial, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	margin: 1px;
	padding: 1px;
}

table.sectionoverview tr.even {
	background-color: #444444;
}

table.sectionoverview tr.odd {
	background-color: #555555;
}

table.sectionoverview tr.redtxt {
	color: #FF0000;
}
table.sectionoverview tr.bluetxt {
	color: #0000FF;
}
table.sectionoverview tr.redbg {
	background-color: #DD2222;
	color: #FFFFFF;
}
table.sectionoverview tr.bluebg {
	background-color: #444488;
	color: #FFFFFF;
}

table.sectionoverview tr.even:hover,
table.sectionoverview tr.odd:hover {
	color: #FFFFFF !important;
	background-color: #FF9A1E;
	background: -webkit-linear-gradient(#FFAA00, #DD8800);
	background: -moz-linear-gradient(#FFAA00, #DD8800);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAA00',endColorstr='#DD8800',GradientType=0);
	cursor: pointer;
}

table.sectionoverview tr.odd:hover td a,
table.sectionoverview tr.even:hover td a {
	color: #FFFFFF !important;
}

table.nohover tr.even:hover,
table.nohover tr.odd:hover {
	color: inherit !important;
	cursor: default !important;
	background: none !important;
}
table.nohover tr.even:hover {
	background-color: #444444 !important;
}
table.nohover tr.odd:hover {
	background-color: #555555 !important;
}

table.sectionoverview img {
	border: 0;
}

table.sectionoverview tr td.buttons {
	padding: 1px;
	text-align: center;
	width: 50px;
}

table.sectionoverview tr td.tablebuttons {
	padding: 1px;
	text-align: right;
}

div.searchoverview {
	margin-top: 15px;
	margin-bottom: 15px;
}

table.sectionoverview tr td.tablebuttons div.pageinfo {
	float: left;
	width: 45%;
	font-weight: bold;
	text-align: left;
}

table.sectionoverview tr td.tablebuttons div.pageselection {
	float: right;
	width: 45%;
}

table.sectionoverview tr td.tablebuttons div.pageselection a {
	text-decoration: none;
}

pre {
	text-align: left;
}

pre.changelog
{
    font-family: Consolas, monospace;
	font-size: 11px;
}
pre.changelog h3
{
    font-family: Consolas, monospace;
	font-size: 15px;
}


div.message, div.error, div.success,
div.notice, div.warning {
    border-radius: 5px;
    padding: 5px 5px 10px;
    font-size: 12px;
    margin: 5px;
}
div.message h1, div.message h2, div.message h3,
div.success h1, div.success h2, div.success h3,
div.error h1, div.error h2, div.error h3,
div.notice h1, div.notice h2, div.notice h3,
div.warning h1, div.warning h2, div.warning h3 {
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0 0 5px;
}
div.message a, div.error a,
div.notice a, div.warning a {
    color: inherit;
}

div.message {
    background: #DDDDDD linear-gradient(#FFFFFF, #CCCCCC);
    font-family: Verdana,sans-serif;
    font-size: 11px;
    color: #111111;
}
div.message.soft {
    background: #555555 linear-gradient(#555555, #333333);
    color: #BBBBBB;
}
#divNotices div.message {
    text-align: center;
}
div.notice {
    background: #00AAFF linear-gradient(#00AAFF, #0066BB);
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}
div.success {
    background: #008800 linear-gradient(#00CC00, #008800);
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}
div.warning {
    background: #FFCC00 linear-gradient(#FFCC00, #CC9900);
    border: double 3px #111111;
    color: #222222;
    text-align: center;
}
div.error {
    background: #990000 linear-gradient(#CC0000, #880000);
    color: #FFFFFF;
    text-align: center;
}

div.message a {
    color: #2222CC;
}
div.message a:visited {
    color: #2222CC;
}
div.message a:hover {
    color: #4444FF;
}



div.tabs {
    border-bottom: solid 2px #555555;
    margin-bottom: 10px;
}

div.tabs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

div.tabs ul li {
    float: left;
    margin: 3px 3px 0;
    padding: 7px 15px;
    background: #555555 linear-gradient(#555555, #111111);
    border: solid 1px #555555;
    border-radius: 3px 3px 0 0;
}

div.tabs ul li:hover {
    background: #EA8400 linear-gradient(#EA8400, #FF9A1E);
    text-shadow: 0 1px 2px #FF7100;
    cursor: pointer;
    border: solid 1px #EA8400;
    border-bottom: 0;
}

div.tabs ul li a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

button {
    background: #000000 linear-gradient(#555555, #111111);
    border: 1px solid #555555;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-family: "Trebuchet MS","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

button:hover {
    border-color: #DD8800;
    background: #DD8800 linear-gradient(#FFAA00, #DD8800);
}

button.small {
    width: 100px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: normal;
}

button.combobox {
    margin: 0;
    padding: 0;
    top: 1px;
    width: 2.4em;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    overflow: visible;
    position: relative;
    text-decoration: none !important;
}

button.combobox .ui-button-text {
    display: block;
    margin: 0;
    padding: 1px 0 2px;
}