@font-face {
    font-family: EveSans;
    src: url(fonts/evesans.ttf);
}
@font-face {
    font-family: EveAlpha;
    src: url(fonts/evealpha.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(fonts/opensans/opensans-regular.ttf);
}


body {
    background: url(../images/default/background.jpg) fixed;
	font-family: OpenSans, "Trebuchet MS", MetaBlack, sans-serif;
	font-size: 11px;
	color: #cccccc;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: EveSans, OpenSans, MetaBlack, sans-serif;
	font-size: 2.5em;
	color: #ffffff;
    margin: 1em 0 1em;
    padding: 0;
	border-bottom: solid 1px #cccccc;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 90%;
}
h1 img {
    height: 24px;
    margin-right: .5em;
}

h2 {
	font-size: 2em;
    margin: .5em 0 .5em;
}
h2 img {
    height: 20px;
    margin-right: .5em;
}

h3 {
	font-size: 1.2em;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 1em;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
	color: #ffaa00;
}
a:hover {
	color: #ffcc11;
}
a:visited {
	color: #ffcc11;
}

#header {
    position: relative;
	padding: 0;
	margin: 0;
}

#infoheader {
	background-color: #555555 !important;
	margin-bottom: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#infoheaderbar {
	width: 95%;
	max-width: 980px;
	text-align: left;
	margin: 0 auto;
	font-weight: bold;
	color: #FFFFFF;
	overflow: hidden;
	white-space: nowrap;
}

div#infoheader-name {
	float: left;
	width: 48%;
	text-align: left;
}
div#infoheader-info {
	float: right;
	width: 48%;
	text-align: right;
}

@media (max-width: 350px) {
	div#infoheader-name {
		float: none;
		width: 100%;
	}
	div#infoheader-info {
		float: none;
		display: none;
	}
}

#maincontainer {
	width: 95%;
	max-width: 1200px;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

#maincontent {
	margin: 0 auto;
}
@media (max-width: 550px) {
	#maincontainer {
		width: 100%;
	}
}

div.content {
    background: none repeat scroll 0 0 rgba(10, 10, 10, 0.6);
    padding: 1em;
    margin: 0;
}

div.clear {
	clear: both;
}

table.sectionoverview {
	width: 100%;
}

table.sectionoverview tr th,
table.sectionoverview tr td {
	text-align: left;
	padding: 3px;
}

table.sectionoverview tr th {
    background-color: #232323;
    color: #ffffff;
}
#popup table.sectionoverview tr th {
    background-color: #151515;
}

table.sectionoverview tr th.large {
	font-size: 1.2em;
	text-shadow: 1px 1px 1px #555555;
}

table.sectionoverview tr th img {
	margin-left: 10px;
}

table.sectionoverview tr th input {
	width: 60px;
    font-family: Arial, sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	margin: 1px;
	padding: 1px;
}

table.sectionoverview tr.even {
	background-color: #444444;
}

table.sectionoverview tr.odd {
	background-color: #555555;
}

table.sectionoverview tr.redtxt {
	color: #FF0000;
}
table.sectionoverview tr.bluetxt {
	color: #0000FF;
}
table.sectionoverview tr.redbg {
	background-color: #DD2222;
	color: #FFFFFF;
}
table.sectionoverview tr.bluebg {
	background-color: #444488;
	color: #FFFFFF;
}

table.sectionoverview tr.even:hover,
table.sectionoverview tr.odd:hover {
	color: #FFFFFF !important;
	background-color: #FF9A1E;
    background: #FF9A1E linear-gradient(#FFAA00, #DD8800);
	cursor: pointer;
}

table.nohover tr.even:hover,
table.nohover tr.odd:hover {
	color: inherit !important;
	cursor: default !important;
	background: none !important;
}
table.nohover tr.even:hover {
	background-color: #444444 !important;
}
table.nohover tr.odd:hover {
	background-color: #555555 !important;
}

table.sectionoverview img {
	border: 0;
}

table.sectionoverview tr td.buttons {
	padding: 1px;
	text-align: center;
	width: 50px;
}

table.sectionoverview tr td.tablebuttons {
	padding: 1px;
	text-align: right;
}

div.searchoverview {
	margin-top: 15px;
	margin-bottom: 15px;
}

table.sectionoverview tr td.tablebuttons div.pageinfo {
	float: left;
	width: 45%;
	font-weight: bold;
	text-align: left;
}

table.sectionoverview tr td.tablebuttons div.pageselection {
	float: right;
	width: 45%;
}

table.sectionoverview tr td.tablebuttons div.pageselection a {
	text-decoration: none;
}

pre {
	text-align: left;
}

pre.patchnotes  {
    font-family: Consolas, monospace;
	font-size: 11px;
}
pre.patchnotes h3 {
    font-family: Consolas, monospace;
	font-size: 15px;
}
pre.patchnotes strong {
    color: #ffffff;
}



div.tabs {
    border-bottom: solid 1px #343434;
    margin-bottom: 10px;
}

div.tabs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

div.tabs ul li {
    float: left;
    margin: 0 .3em 0;
    padding: .5em 1.5em;
    background-color: #555555;
    background: #555555 linear-gradient(#555555, #111111);
    border: solid 1px #555555;
    border-radius: 3px 3px 0 0;
    border-bottom: 0;
    letter-spacing: 0.1em;
}
div.tabs ul li img {
    height: 16px;
    margin-right: .6em;
    margin-left: -.6em;
}

div.tabs ul li:hover {
    background-color: #EA8400;
    background: #EA8400 linear-gradient(#EA8400, #FF9A1E);
    text-shadow: 0 1px 2px #FF7100;
    cursor: pointer;
    border: solid 1px #EA8400;
    border-bottom: 0;
}

div.tabs ul li a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.evelogin {
	background: url(/images/ccp/EVE_SSO_Login_Buttons_Small_Black.png) no-repeat;
	width : 195px;
	height : 30px;
}
.evelogin:hover {
	background: url(/images/ccp/EVE_SSO_Login_Buttons_Small_White.png) no-repeat;
	border-color: #DD8800;
}