
div.message, div.error, div.success,
div.notice, div.warning {
    border-radius: 4px;
    padding: .3em;
    margin: .5em;
}
div.message h1, div.message h2, div.message h3,
div.success h1, div.success h2, div.success h3,
div.error h1, div.error h2, div.error h3,
div.notice h1, div.notice h2, div.notice h3,
div.warning h1, div.warning h2, div.warning h3 {
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0 0 5px;
}
div.message a, div.error a,
div.notice a, div.warning a {
    color: inherit;
}

div.standout {
    background: none repeat scroll 0 0 rgba(50, 50, 50, 0.3);
    border: solid 1px #555555;
    border-radius: 5px;
    color: #bbbbbb;
    margin: 1em;
    padding: .6em;
}
div.standout ul {
    margin: 0;
}

div.message {
    background: #DDDDDD linear-gradient(#FFFFFF, #CCCCCC);
    font-size: 1em;
    color: #111111;
}
div.message.soft {
    background-color: #555555;
    background: #555555 linear-gradient(#555555, #333333);
    color: #BBBBBB;
}
div.notice {
    background: #00AAFF linear-gradient(#00AAFF, #0088dd);
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}
div.success {
    background: #008800 linear-gradient(#00cc00, #00aa00);
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}
div.warning {
    background: #FFCC00 linear-gradient(#FFCC00, #CC9900);
    border: double 3px #111111;
    color: #222222;
    text-align: center;
}
div.error {
    background: #aa0000 linear-gradient(#cc0000, #aa0000);
    color: #ffffff;
    text-align: center;
}

div.warning div.message {
    margin: 1px;
    text-align: center;
    border: solid 1px #888888;
    border-radius: 2px;
}
#divNotices div.message {
    text-align: center;
}

div.message a {
    color: #2222CC;
}
div.message a:visited {
    color: #2222CC;
}
div.message a:hover {
    color: #4444FF;
}