{include file="templates/default/header.html"}

<div id="levedekoning">
	<a id="banner" href="http://en.wikipedia.org/wiki/Koningsdag" target="_blank">
		<div class="col1">
			<img src="/images/oranje/alexander.png" align="left" style="height: 100px;">
		</div>
		<div class="col10 description">
			<h1>KONINGSDAG &nbsp; - &nbsp; KINGSDAY &nbsp; &nbsp;</h1>
		</div>
		<div class="col1 right last">
			<img src="/images/oranje/maxima.png" align="right" style="height: 100px;">
		</div>
		<div class="banner">&nbsp;</div>
	</a>
</div>