<div class="content">
	<h1>VIPPY 5 year anniversary !!</h1>
	<div class="col8" style="font-size: 1.1em;">
		<div>
			<p>
				A little over 5 years ago, I started Vippy because my corp did not want to use Siggy anymore, but at that time there were no alternatives.
			</p>
			<p>
				Vippy started with only a couple of users (my own corp). Over the years, more and more people got exposed to Vippy.
				Currently, Vippy has over 1500 characters that use it on a weekly basis!
				I think that is incredible, especially when you consider that it's all through word of mouth, I have never advertised Vippy anywhere.
			</p>
			<p>
				<b>A huge shout out and thank you</b> to all you guys in order, because without all your support, Vippy would not be what it is today, and what it will become in the next 5 years :D
			</p>
		</div>
		<div style="clear:both;"></div>
		<div style="margin-top: 2em;">
			<h3>So, what are you going to treat then?</h3>
			<p>
				As you (may) know, running Vippy is not free. The current server cost to keep Vippy running smoothly is (more or less) 2 PLEX each month.
				This is why I ask for a montly fee (in isk) for everyone who uses Vippy.
			</p>
			<p>
				These 'subscriptions' are still a manual process for me, and I can't keep up! So, I am going to automate this process and Vippy's anniversary is a good moment to get started.
			</p>
			<p>
				Most groups are behind on their payments... But, I have neglected because I don't have enough time, and since we are celibrating I am going to reset and forget!
				I've added a <strong>free</strong> anniversary subscription to everyone's access-control-group, wich will expire at the end of august.
				From then, I'll (hopefully) have the automated subscription thing up and running.
			</p>
		</div>
		<div style="clear:both;"></div>
		<div style="margin-top: 2em;">
			<h3>New subscriptions?</h3>
			<p>
				These new automated subscriptions will be based on the active users (not characters, but users) in your group, each month.
				I still have to come up with all the details but currently i'm looking at 100m/month per 10 users, with a maximum of 500m.
			</p>
			<p>
				I will write an update on how that is exactly going to work when it's approaching completion.
				If you have questions though, as always, feel free to contact me :D
			</p>
		</div>
	</div>
	<div class="col4 right last">
		<div style="text-align: center;">
			<img src="/images/anniversary/balloons.png" style="width: 100%;">
		</div>
	</div>
	<div style="clear:both;"></div>
</div>