<div class="content">

	<br />
	<h1 style="margin: 0; padding: 0;">May 2017 - VIPPY 5 year anniversary</h1>
	<div class="col8" style="font-size: 1.1em;">
		<div>
			<p>
				More or less 5 years ago, I started building VIPPY because my corp (VFI) did not want to use Siggy anymore, but at the time there were no alternatives.
				I'm a programmer and my corp mates started to push me to build our own mapper, this would become VIPPY.
			</p>
			<p>
				VIPPY started with only a couple of users (my own corp). I never intended for it to be used by anyone else other then us, but over the years, more and more people got exposed to VIPPY.
				Currently, Vippy has over 1500 characters that use it on a weekly! I think that is incredible, especially when you consider that it's all through word of mouth, I have never advertised anywhere.
			</p>
			<p>
				<b>A huge shout out and thank you</b> to all you guys in order, because without all your support, VIPPY would not be what it is today, and what it will become in the next 5 years :D
			</p>
		</div>
		<div style="clear:both;"></div>
		<div style="margin-top: 2em;">
			<h3>So, are we getting a birthday treat?</h3>
			<p>
				As you (may) know, running Vippy is not free. The current server cost to keep Vippy running translates roughly to 3 PLEX each month.
				This is why I ask for a montly fee (in isk) for everyone who uses VIPPY.
			</p>
			<p>
				As I never intended to sell/hire VIPPY this way, these 'subscriptions' are a manual process for me, and I can't keep up!
				So, I am going to automate this process and VIPPY's anniversary is a good moment to get it done.
			</p>
			<p>
				Most groups are behind on their payments... I have neglected a lot of that because I don't have/take enough time to check everything. Since we are celibrating I am going to <strong>reset and forget</strong>!
				I've added a <strong>free</strong> anniversary subscription to everyone's access-control-group, wich will expire at the end of august.
				From then, I'll (hopefully) have the automated subscription thing up and running.
			</p>
		</div>
		<div style="clear:both;"></div>
		<div style="margin-top: 2em;">
			<h3>New subscriptions?</h3>
			<p>
				I want these new automated subscriptions to be based on the amount of active users (not characters, but users) in your group, each month.
				I still have to come up with all the details but i'm currently thinking 100m/month per 10 users (with a maximum of 500m).
			</p>
			<p>
				I will write an update on how that is exactly going to work when it's approaching completion.
				If you have questions, ideas or other input, as always, feel free to <a href="http://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">contact me</a> :D
			</p>
			<p>
				Tnx!<br />
				<a href="http://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloem</a>
			</p>
		</div>
	</div>
	<div class="col4 right last">
		<div style="text-align: center;">
			<img src="/images/anniversary/balloons.png" style="width: 100%;">
		</div>
	</div>
	<div style="clear:both;"></div>
</div>