table#whcolors {
	margin: 0 auto;
	width: 750px;
}

table#whcolors th {
	font-size: 14px;
	font-weight: bold;
}

table#whcolors img {
	border-radius: 4px;
	margin: 5px;
	margin-left: 1px;
	margin-right: 1px;
	height: 100px;
}

table#whtypes {
	margin: 0 auto;
	width: 800px;
}
table#whtypes tr td img {
	height: 100px;
	border-radius: 4px;
	margin-right: 15px;
	margin-bottom: 20px;
}
table#whtypes tr td {
	vertical-align: top;
}
table#whtypes tr td div {
	padding: 5px;
}