<html>
<head>
	<style>
		body {
			background-color: #111111;
			color: #ffffff;
		}
		div {
			border-top: solid 1px #aaaaaa;
			border-bottom: solid 1px #aaaaaa;
			padding-bottom: 2em;
			margin-top: 1px;
		}
	</style>
</head>
<body>
	<div>
		<h2>VIPPY - Map</h2>
		<img src="/images/screenshots/vippy.png">
	</div>
	<div>
		<h2>VIPPY - End-of-life marker/log</h2>
		<img src="/images/screenshots/vippy-eol-mark.png">
	</div>
	<div>
		<h2>VIPPY - Wormhole jump logs</h2>
		<img src="/images/screenshots/vippy-jumplog.png">
	</div>
	<div>
		<h2>VIPPY - Wspace information</h2>
		<img src="/images/screenshots/vippy-whsystem.png">
	</div>
	<div>
		<h2>VIPPY - Kspace information</h2>
		<img src="/images/screenshots/vippy-kspacesystem.png">
	</div>
</body>
</html>