<div class="content">
	<h1>VIPPY Screenshots</h1>
	<div>
		A very brief overview of VIPPY's most important features.
	</div>
</div>

<div class="content">
	<h3>A detailed map of the current chain(s), and quick intel for each system for maximum situational awareness!</h3>
	<div>
		<img src="/modules/screenshots/images/map.png" align="left">
	</div>
	<div style="clear:both;"></div>
</div>

<div class="content">
	<h3>Mouse over for detailed intel on a solarsystem</h3>
	<div>
		<img src="/modules/screenshots/images/system-intel-kspace.png" align="left">
		<img src="/modules/screenshots/images/system-intel-wspace.png" align="left">
	</div>
	<div style="clear:both;"></div>
</div>

<div class="content">
	<div class="col6">
		<h3>Information and a jumplog for each wormhole</h3>
		<div>
			<img src="/modules/screenshots/images/jumplog.png" align="left">
		</div>
	</div>
	<div class="col6 right last">
		<h3>Exit finder to quickly find the closest entrance or exit</h3>
		<div>
			<img src="/modules/screenshots/images/exit-finder.png" align="left">
		</div>
	</div>
	<div style="clear:both;"></div>
</div>

<div class="content">
	<h3>CREST support for auto-tracking</h3>
	<div>
		<img src="/modules/screenshots/images/crest-support.png" align="left">
	</div>
	<div style="clear:both;"></div>
</div>