<div style="padding: 10px;">
	<div class="message" style="text-align: left;">
		Select all signatures in your scanner window, press ctrl+c.
		Then paste them below and press the add button.<br />
		<i><u>Note:</u> Cosmic Signatures will be added to the systems signature list.</i>
	</div>
</div>
<div style="padding: 10px;">
	<form method="post" action="index.php?module=scanning&section=anoms&action=copypaste">
	<div class="form">
		<textarea name="copypasteanomalies" style="width: 98%; height: 200px;"></textarea>
	</div>
	<div class="form" style="margin-top: 15px; text-align: right;">
		<button type="submit">Add Signatures</button>
	</div>
	</form>
</div>