<div style="padding: 10px;">
	<div style="text-align: left; padding: 10px;">
		<div style="float: left; width: 40%;">
			<h3><u>Adding a wormhole signature</u></h3>
			<div style="padding: 5px;">
				If you add a WH signature, VIPPY can create a temporary unmapped wormhole. 
				You have to decide on a name for the new wormhole, and put that name in the `info` column of the signature.
			</div>
			<div style="padding: 5px;">
				If the name of the temporary wormhole is correct, as soon as a system is mapped that gets the name of a temp one, 
				the temporary system will be replaced by the new mapped one.
			</div>
			<div style="padding: 5px;">
				<b><u>The naming works as follows:</u></b>
				<div style="padding: 5px;">
					&nbsp; &nbsp; <i>FROM-TO other info</i>
				</div>			
			</div>
			<div style="padding: 5px;">
				The name of the new system will be grabbed out of the FROM-TO part. Always use FROM dash TO.			
			</div>					
			<div style="padding: 5px;">
				Any words after the FROM-TO will not be included in the new name of the temporary wormhole.			
			</div>					
			<div style="padding: 5px;">
				However, certain keywords are defined:
				<div style="padding: 5px;">
					&nbsp; <b>frig</b> &nbsp; = <i>Will make it a frigate only wormhole</i><br />
					&nbsp; <b>eol</b> &nbsp; = <i>Will mark the wormhole end-of-life</i><br />
					&nbsp; <b>reduced</b> &nbsp; = <i>Will mark the wormhole mass reduced</i><br />
					&nbsp; <b>crit</b> &nbsp; = <i>Will mark the wormhole mass crit</i><br />
				</div>
			</div>
		</div>
		<div style="float: right; width: 55%;">
			<h3><u>Map Legend</u></h3>
			<table>
				<tr>
					<td><img src="images/default/wspace.link.png" /></td>
					<td>This wormhole has not yet had its stability significantly disrupted.</td>
				</tr>
				<tr>
					<td><img src="images/default/wspace.link.reduced.png" /></td>
					<td>This wormhole has had its stability reduced, but not to a critical degree yet.</td>
				</tr>
				<tr>
					<td><img src="images/default/wspace.link.crit.png" /></td>
					<td>This wormhole has had its stability critically disrupted by the mass of numerous ships passing through and is on the verge of collapse.</td>
				</tr>
				<tr>
					<td><img src="images/default/wspace.link.eol.png" /></td>
					<td>This wormhole is reaching the end of its natural lifetime.</td>
				</tr>
				<tr>
					<td><img src="images/default/wspace.link.capital.png" /></td>
					<td>Capitals are able to jump through this wormhole.</td>
				</tr>
				<tr>
					<td><img src="images/default/wspace.link.frigate.png" /></td>
					<td>Only Frigates and Destroyers can jump through this wormhole.</td>
				</tr>
				<tr>
					<td><img src="images/default/kspace.link.png" /></td>
					<td>This wormhole links 2 kspace systems. The number indicates the amount of regular gate jumps.</td>
				</tr>
				<tr>
					<td><img src="images/default/gate.link.png" /></td>
					<td>These systems are not connected via wormholes but through normal jump gates.</td>
				</tr>
			</table>
			<br />
			<table>
				<tr>
					<td><img src="images/default/scanned.not.png" /></td>
					<td>This system was not, or partially scanned.</td>
				</tr>
				<tr>
					<td><img src="images/default/scanned.recently.png" /></td>
					<td>This system was marked fully scanned, but over 2 hours ago.</td>
				</tr>
				<tr>
					<td><br /></td>
				</tr>
				<tr>
					<td><img src="images/eve/star.png" /></td>
					<td>I currently have a pilot in this system.</td>
				</tr>
				<tr>
					<td><img src="images/eve/skull.red.png" /></td>
					<td>This system has had PVP in the last 2 hours. &nbsp; (<i>HS systems are excluded!</i>)</td>
				</tr>
				<tr>
					<td><img src="images/eve/skull.orange.png" /></td>
					<td>This system has had PVE in the last 2 hours. &nbsp; (<i>HS systems are excluded!</i>)</td>
				</tr>
				<tr>
					<td></td>
					<td><i>Please note that kill information comes from the eve api server, and can only be refreshed once every hour!!</i></td>
				</tr>
				<tr>
					<td><br /></td>
				</tr>
				<tr>
					<td><img src="images/eve/station.png" /></td>
					<td>This system has 1 or more stations.</td>
				</tr>
				<tr>
					<td><img src="images/eve/station.png" /></td>
					<td>This system has 1 or more stations.</td>
				</tr>
				<tr>
					<td><img src="images/eve/stargate.red.png" /></td>
					<td>This system is on a high-sec island!</td>
				</tr>
				<tr>
					<td><img src="images/eve/stargate.green.png" /></td>
					<td>This system has a direct gate to high-sec.</td>
				</tr>
				<tr>
					<td><img src="images/eve/fw.png" /></td>
					<td>This is a Factional Warfare system.</td>
				</tr>
				<tr>
					<td><img src="images/eve/fw.contested.png" /></td>
					<td>This system is contested.</td>
				</tr>
			</table>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>