<div id="whInfo{$system->id}Content" class="whdetailspopup">

{foreach from=$system->getNotifications($wormhole->getChain()) item=notice}
	<div style="padding: 0 2em 0 0;">
		<div class="{$notice->getTypeName()}" style="margin: 0; text-align: left;">
			<div><strong>{$notice->title}</strong></div>
			<div>{$notice->body}</div>
		</div>
	</div>
{/foreach}

	<div style="float: left; width: 160px; padding: 5px;">
		<h3 style="margin-bottom: 10px;">
			<span style="color: {$system->getClassColor()};">{$system->getClass(1)}</span>
			{$system->name}
			{if $wormhole->name|strlen > 0}
				- {$wormhole->name}
			{/if}
		</h3>

	{if $system->getNotes()}
		{assign var=notes value=$system->getNotes()}
		{if $notes.notes|strlen > 0}
		<div style="margin: 8px; padding: 3px; color: #EEEEEE; border: dashed 1px #777777; border-radius: 5px;">
			{$notes.notes}
			{if $notes.updatedate}
			<div style="text-align: right; font-size: 9px; margin-top: 5px;">
				<i>Last edit: {$notes.updatedate|date_full}</i>
			</div>
			{/if}
		</div>
		{/if}
	{/if}

		<div>
			{if $system->isWSpace()}
				<div class="form">
					<label class="field">Effects:</label>
					{if $system->getEffect()}{$system->getEffect()}{else}None{/if}
				</div>
				<div class="form">
					<label class="field">Static:</label>
					<label class="value">
				{if $system->getStatics()|@count > 0}
					{foreach from= $system->getStatics() item=static}
						<div>{$static}</div>
					{/foreach}
				{/if}
					</label>
				</div>
			{/if}
			<div class="form">
				<label class="field">Status:</label>
				{if $wormhole->status == 1}
					Unknown
				{elseif $wormhole->status == 2}
					<span style="color:#00CC00;">Clear</span>
				{elseif $wormhole->status == 3}
					<span style="color:#FFAA00;">Be Carefull</span>
				{elseif $wormhole->status == 4}
					<span style="color:#CC0000;">Active</span>
				{/if}
			</div>

			<div class="form">&nbsp;</div>

		{if $wormhole->getDrifters()}
			<div class="form" style="color: #ff2222;">
				<img src="/modules/map/images/notifications/drifter.png" align="left" style="height: 14px;">
				&nbsp; {$wormhole->getDrifters()->nrDrifters} Drifter Battleships!
			</div>
		{/if}
	{if !$system->isWSpace()}
		{if $system->isHSIsland() > 0}
			<div class="form">
				<img src="/images/eve/stargate.red.png" align="left"/>
				&nbsp;
				<span style="color:#CC0000;">High-Sec Island</span>
			</div>
		{/if}
		{if $system->isDirectHS() > 0}
			<div class="form">
				<img src="/images/eve/stargate.green.png" align="left"/>
				&nbsp;
				<span style="color:#00CC00;">Direct gate to High-Sec</span>
			</div>
		{/if}
		{if $system->getNrStations() > 0}
			<div class="form">
				<img src="/images/eve/station.png" align="left"/>
				&nbsp;
				{$system->getNrStations()} Stations / Outposts
			</div>
		{/if}
		{if $system->isFactionWarfareSystem()}
			<div class="form">
				{if $system->isContested()}
					<img src="/images/eve/fw.contested.png" align="left"/>
				{else}
					<img src="/images/eve/fw.png" align="left"/>
				{/if}
				Faction Warfare system
			</div>
		{/if}
		<div class="form">&nbsp;</div>
	{/if}

		{if $wormhole}
				<div class="form">
			{if $wormhole->fullScanDate != null && $wormhole->fullScanDate|strtotime > 0}
					<img src="/images/default/scanned.recently.png" align="left">
					&nbsp; <span style="color: #FFFFFF;"><b>Recently scanned</b></span><br />
					&nbsp; <i>{$wormhole->fullScanDate|date_age} ago</i><br />
					<b>By:</b>
				{if $wormhole->getFullyScannedByUser() != null}
					<i>{$wormhole->getFullyScannedByUser()->getFullname()}</i>
				{else}
					<i>Unknown</i>
				{/if}
			{else}
					<img src="/images/default/scanned.not.png" align="left">
					&nbsp; <span style="color: #FFFFFF;"><b>Not scanned</b></span>
			{/if}
				</div>
		{/if}
			<div style="clear:both;"></div>
		</div>
	</div>
	<div style="float: right; width: 170px; padding: 5px;">
	{if $system}
		{if $system->isWSpace()}
			{if isset($whEffectsData)}
				<div id="whinfoeffects">
					{if $system->getEffect()}
						<h3 style="font-size: 13px; margin: 0; padding: 0;">{$system->getEffect()}</h3>
					{/if}
					{$whEffectsData}
				</div>
			{/if}
		{else}
			<div id="whinfotradehubs" style="margin-top: 10px;">
				<img src="/images/loading.gif" style="margin: 5px 10px 5px 5px;" align="left" />
			</div>
		{/if}
	{/if}
	</div>

	<div style="clear:both;"></div>
	<br />

{if !$system->isWSpace() && $system->getCapitalRange()|@count > 0}
		<div class="systemPopupTitle">
			My Capitals
		</div>
		{assign var=i value=0}
{foreach from=$system->getCapitalRange() key=jumps item=caps}
	{foreach from=$caps key=c item=cap}
		{if $i<5 || $jumps<=1}
		<div style="padding-left: 5px;">
			<div style="float: left; width: 150px;">
				<b>{$cap->ship->name}</b> &nbsp; ({$cap->location->name})
			</div>
			<div style="float: left; width: 100px;">
				{$cap->jumps} jump(s)
			</div>
			<div style="clear:both;"></div>
		</div>
		{assign var=i value=$i+1}
		{/if}
	{/foreach}
{/foreach}
		<div style="clear:both;"></div>
		<br />
{/if}

{if $characters|@count > 0}
		<div class="systemPopupTitle">
			<div style="float: left; width: 200px; overflow: hidden;">
				<u>Active Pilots</u>
			</div>
			<div style="float: right; width: 100px; overflow: hidden; text-align: left; font-size: 12px;">
				Last reported
			</div>
		</div>
		<div style="padding: 5px;">
		{foreach from=$characters key=charname item=pilot}
			<div style="float: left; width: 200px; overflow: hidden; white-space: nowrap;">
				* {$pilot.name} {if $pilot.ship}({$pilot.ship.name}){/if}
			</div>
			<div style="float: right; text-align: left; width: 100px; overflow: hidden;">
				<i>{$pilot.time|date_age:1}</i> ago
			</div>
		{/foreach}
		</div>

		<div style="clear:both;"></div>
		<br />
{/if}

{if !$system->isWSpace()}
		<div id="whActivityTitle" class="systemPopupTitle">
			Activity Report
		</div>
		<div>
			<div id="whInfoActivity">
				<img src="/images/loading.gif" style="margin: 5px; margin-right: 10px;" align="left" />
			</div>
			<div id="whActivityDate"></div>
		</div>
		<div style="clear:both;"></div>
{/if}
</div>