<div class="content">
{if $wormhole}
	<h1>{$wormhole->getSolarSystem()->getFullname()} - {$wormhole->name}</h1>
{else}
	<h1>New Known-System</h1>
{/if}
{if isset($errors) && $errors|@count > 0}
	<div class="error">
	{foreach from=$errors item=error}
		<div>{$error}</div>
	{/foreach}
	</div>
{/if}

	<form method="post" action="">
		<div style="max-width: 500px;">
			<input type="hidden" name="save" value="1" />
			<div class="form">
				<div class="field">Solarsystem:</div>
				<div class="value">
					<input type="text" name="systemname" value="{if isset($wormhole)}{$wormhole->getSolarSystem()->name}{/if}" />
				</div>
			</div>
			<div class="form">
				<div class="field">Displayname:</div>
				<div class="value">
					<input type="text" name="name" value="{if $wormhole}{$wormhole->name}{/if}" />
				</div>
			</div>
			<div class="form">
				<div class="field">Status:</div>
				<div class="value">
					<select name="status">
						<option value="2" {if $wormhole && $wormhole->status>=2}selected{/if}>[+] Alliance System</option>
						<option value="1" {if $wormhole && $wormhole->status==1}selected{/if}>[+] Friendly System</option>
						<option value="0" {if ($wormhole && $wormhole->status==0) || !$wormhole}selected{/if}>[=] Neutral System</option>
						<option value="-1" {if $wormhole && $wormhole->status==-1}selected{/if}>[-] Hostile System</option>
						<option value="-2" {if $wormhole && $wormhole->status<=-2}selected{/if}>[-] Dangerous System</option>
					</select>
				</div>
			</div>
			<div class="form buttons">
				<button type="submit">
					<img src="/images/default/ui/save.png" align="left">
					Save
				</button>
			</div>
		</div>
	</form>
	<div style="clear:both;"></div>
</div>