<div class="content">
	<h1>Known Wormholes</h1>
	<table class="sectionoverview">
		<tr>
			<th>SolarSystem</th>
			<th>Name</th>
			<th>Status</th>
			<th style="width: 50px;">&nbsp;</th>
		</tr>
	{foreach from=$systems key=s item=system}
		<tr class="{if $s%2==0}even{else}odd{/if}">
			<td onclick="document.location='index.php?module=admin&section=knownwormholes&action=edit&id={$system->systemID}'">
				{$system->getSolarSystem()->getFullname()}
			</td>
			<td onclick="document.location='index.php?module=admin&section=knownwormholes&action=edit&id={$system->systemID}'">
				{$system->name}
			</td>
			<td onclick="document.location='index.php?module=admin&section=knownwormholes&action=edit&id={$system->systemID}'">
				<img src="{$system->getIcon()}"/> 
				<span style="color: {$system->getColor()};">{$system->getStatus()}</span>
			</td>
			<td style="text-align: center;">
				<a href="index.php?module=admin&section=knownwormholes&action=edit&id={$system->systemID}}"><img src="images/default/edit.png" style="cursor: pointer;"/></a>
				<img src="images/default/cross.png" style="cursor: pointer;" 
					onclick="if (confirm('Are you sure?')) {literal}{{/literal}document.location='index.php?module=admin&section=knownwormholes&action=delete&id={$system->systemID}'; {literal}}{/literal}" />
			</td>
		</tr>
	{/foreach}
	</table>
	<div style="text-align: right; padding: 10px;">
		<button type="button" onclick="document.location='index.php?module=admin&section=knownwormholes&action=new'">Add Wormhole</button>
	</div>
	<div style="clear:both;"></div>
</div>