div#signatureMapContainer {
	position: absolute;
	top: 130px;
	margin: 0 auto;
	border: solid 1px #444444;
	border-radius: 5px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	background-image: url("../../../images/default/stars.png");
	width: 100%;
	height: 400px;
	z-index: 5;
}
div#signatureMap {
	width: 100%;
	height: 100%;
	overflow: auto;
}


div.whdetailspopup .form {
	margin: 0px;
	padding: 0px;
}
div.whdetailspopup .form .field {
	width: 50px;
	font-weight: bold;
}
div#whinfotradehubs {
	padding-left: 5px;
}

select#fromtype,
select#totype {
	width: 60px !important;
}

div#mapControls {
	z-index: 5;
}

h2.systeminfotitle img {
	border: 0px;
	height: 18px;
	margin: 2px;
}
h2.systeminfotitle img:hover {
	height: 20px;
	margin: 0px;
}


div.systemPopupTitle {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
	z-index: 10;
}

div#whActivityDate {
	font-size: 10px;
	padding-right: 30px;
	text-align: right;
	color: #666666;
}
div#whInfoActivity {
	padding: 5px;
	z-index: 10;
}

div#jumplogsummary {
	padding-right: 10px;
}
div#jumplogsummary h2 {
	margin: 0px;
	padding: 0px;
}
div#jumplog div.shiptype {
	float: left;
	width: 150px;
	overflow: visible;
	white-space: nowrap;
}
div#jumplog div.shipmanual {
	float: left;
	width: 50px;
	overflow: visible;
	white-space: nowrap;
	text-align: right;
}
div#jumplog div.shipmass {
	float: right;
	width: 100px;
	text-align: right;
	overflow: hidden;
}
div#wormholeContext {
	z-index: 10;
}
div#disabledPageTransparent {
	z-index: 9;
}

div#mapHeader {
	margin-bottom: 10px;
}
div#mapHeader div#mapHeaderTitle {
	border-bottom: solid 1px #CCCCCC;
}
div#mapHeader div#divSystemTitle {
	float: left;
	width: 55%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
}
div#mapHeader div#divSystemTitle h1 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 22px;
}
div#mapHeader div#divRefreshTimer {
	float: right;
	text-align: right;
	width: 40%;
}
div#mapHeader div#divRefreshTimer div {
	padding-top: 3px;
}

@media (max-width: 600px) {
	div#mapHeader div#divSystemTitle {
		float: none;
		width: 100%;
	}
	div#mapHeader div#divRefreshTimer {
		display: none;
	}
}