div#signatureListContainer {
	float: left;
	width: 68%;
	margin-top: 20px;
}
div#systemDetailsContainer {
	float: right;
	width: 30%;
	margin-top: 20px;
}

@media (max-width: 950px) {
	div#signatureListContainer {
		float: none;
		width: 100%;
		margin-top: 20px;
	}
	div#systemDetailsContainer {
		float: none;
		width: 100%;
		margin-top: 20px;
	}
}

table#signatureTable tr[rel="signature"] {
    cursor: pointer;
}
table#signatureTable .sigID {
	width: 50px;
    text-transform: uppercase;
}
table#signatureTable .sigType {
    width: 70px;
    text-transform: uppercase;
}
table#signatureTable .sigType div.whtype {
    float: right;
    font-style: italic;
    color: #aaaaaa;
    margin-right: 1em;
}
table#signatureTable .sigInfo {

}
table#signatureTable .sigStrength {
	width: 50px;
	text-align: center;
}
table#signatureTable .sigUpdate {
	width: 120px;
}
table#signatureTable .sigControls {
	width: 50px;
    text-align: center;
}
table#signatureTable .sigControls img {
    height: 12px;
}

table#signatureTable input,
table#signatureTable select {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0;
    padding-left: .5em;
    padding-right: .5em;
    width: 90%;
}
table#signatureTable select {
    padding-left: .2em;
    padding-right: .2em;

}
table#signatureTable .sigID input {
    width: 35px;
    text-transform: uppercase;
}
table#signatureTable .sigType select {
    width: 65px;
}
table#signatureTable input.whtype {
    width: 35px;
}
table#signatureTable input.signame {
    width: 100px;
}
table#signatureTable tr {
    background-color: #666666;
    color: #EEEEEE;
}
table#signatureTable tr.relic {
    background-color: #55556F;
    color: #EEEEEE;
}
table#signatureTable tr.data {
    background-color: #556F55;
    color: #EEEEEE;
}
table#signatureTable tr.gas {
    background-color: #7F7F55;
    color: #EEEEEE;
}
table#signatureTable tr.ore {
    background-color: #556A6A;
    color: #EEEEEE;
}
table#signatureTable tr.wh {
    background-color: #774444;
    color: #EEEEEE;
}
table#signatureTable tr.combat {
    background-color: #776666;
    color: #EEEEEE;
}
table#signatureTable tr.pos {
    background-color: #BBBBBB;
    color: #111111;
}
table#signatureTable tr.unknown {
    background-color: #774444;
    color: #EEEEEE;
}
@media (max-width: 500px) {
    table#signatureTable .sigID {
		width: 30px;
	}
	table#signatureTable .sigType {
		width: 50px;
	}
	table#signatureTable .sigUpdate {
		width: 50px;
	}
	table#signatureTable .sigStrength {
		display: none;
	}
	table#signatureTable .sigUpdate {
		display: none;
	}
}

div#signaturesFullyscanned {
	text-align: right;
	margin: 3px;
}
@media (max-width: 500px) {
	div#signaturesFullyscanned {
		display: none;
	}
}