<div style="padding: 1em;">
	<form action="Javascript: deleteWormhole()">
		<input type="hidden" name="remove-wormhole-id" value="{$wormhole->id}">
		<input type="hidden" name="remove-wormhole-confirmed" value="1">
	{if $removeConnected}
		<input type="hidden" name="remove-wormhole-connected" value="1">
	{/if}
		<h2>
			<img src="/images/default/ui/map.png" align="left">
			Delete {if $removeConnected}Connected{/if} System
		</h2>
	{if $removeConnected}
		<div class="warning">
			<div>
				<b>WARNING:</b> &nbsp;
				This will remove <u>ALL</u> wormholes connected to
				{if $wormhole->getSolarsystem()}<strong>{$wormhole->getSolarsystem()->name}</strong>{/if} ({$wormhole->name})
			</div>
		</div>
	{/if}
		<div style="padding: 1em; text-align: left;">
			Are you sure you want to remove
			{if $wormhole->getSolarsystem()}<strong>{$wormhole->getSolarsystem()->name}</strong>{/if} ({$wormhole->name})
			{if $removeConnected}and it's connecting systems{/if}?
		</div>
		<div style="margin-top: 1em; text-align: right;">
			<button type="submit" id="remove-wormhole-submit">
				<img src="/images/default/apply.png" align="left">
				YES
			</button>
			&nbsp;
			<button type="button" onclick="destroyPopup();">
				<img src="/images/default/cross.png" align="left">
				NO
			</button>
		</div>
	</form>
</div>