<div id="vippylogo">
	<img src="/images/favicon-white.png" align="left">
	<h1>VIPPY</h1>
	<h2>Wormhole mapper</h2>
</div>
<div id="loginform">
	<div class="content" style="padding-top: 2em; padding-bottom: 5em;">

		<div style="padding-left: 8em; padding-right: 8em;">
			<h1>
				<img src="/images/default/login.png" align="left">
				Login
			</h1>
			<div>
				<div style="margin-bottom: 1em;">
					<h3>Login using CREST</h3>
					Login in to Vippy with the eve SSO!
				</div>
				<div style="text-align: right;">
					<form method="post" action="/crest/login">
						<div>
							<input type="checkbox" id="remember" name="remember" style="width: 20px;" />
							Remember me
						</div>
						<input type="hidden" name="login" value="sso"/>
						<button class="evelogin" title="Login With EVE Online">&nbsp;</button>
					</form>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>