<div class="content">
	<h1>{$user->getFullname()}</h1>
{if $errors|@count > 0}
	<div class="error" style="text-align: center; margin: 10px;">
	{foreach from=$errors item=error}
		<div>{$error}</div>
	{/foreach}
	</div>
{/if}
{if $messages|@count > 0}
	<div class="message" style="text-align: center; margin: 10px;">
	{foreach from=$messages item=message}
		<div>{$message}</div>
	{/foreach}
	</div>
{/if}

	<form method="post" action="">
	<input type="hidden" id="userid" name="save" value="{$user->id}"/>

	<div style="float: left; width: 400px;">
		{*
		<div class="form">
			<label class="field"><b>Username:</b></label>
			{$user->username}
		</div>
		<div class="form">
			<label class="field"><b>E-mail:</b></label>
			{$user->email}
		</div>
		*}
		<div class="form">
			<label class="field"><b>Main Character:</b></label>
		{if $user->getMainCharacter()}
			{$user->getMainCharacter()->name}
		{/if}
		</div>
		<div class="form">
			<label class="field"><b>Status:</b></label>
			{$statusTxt}
		</div>
		<div class="form">
			<label class="field"><b>Last loggedin:</b></label>
		{if isset($lastlogindate)}
			<div>{$lastlogindate}</div>
			<div>
			{if $lastloginip.country_code}
				<img src="/images/flags/16/{$lastloginip.country_code|strtolower}.png" align="left" title="{$lastloginip.city}, {$lastloginip.country_name}" />
			{/if}
				<i>{$lastloginip.ip}</i>
			</div>
		{else}
			<i>Unknown</i>
		{/if}
		</div>
	{if $App->user->getIsSysAdmin()}
		<div class="form">
			<label class="field"><b>Access Group:</b></label>
			<div>
			{foreach from=$user->getAuthGroups() item=group}
				<div><a href="/admin/authgroup/edit/{$group->id}" target="_blank">{$group->name}</a></div>
			{/foreach}
			</div>
		</div>
	{/if}
	</div>
{*
{if isset($usergroups)}
	<input type="hidden" name="saveusergroups" value="1"/>
	<div style="float: left; width: 250px;">
		<div>
			<h3>Usergroups:</h3>
		</div>
		<div style="padding-left: 5px;">
	{foreach from=$usergroups item=group}
		{if $group->name|trim|strlen > 0}
			<div>
				<input type="checkbox" id="group{$group->id}" name="group[{$group->id}]"
                       style="height: 12px; vertical-align: text-bottom;" {if $user->inGroup($group->id)}checked{/if} />
				<label for="group{$group->id}" style="float: none;">{$group->name}</label>
			</div>
		{/if}
	{/foreach}
		</div>
	</div>
{/if}
*}
	<div style="float: right; width: 250px; text-align: right;">
		<div style="margin-bottom: 2px;">
			<button type="button" style="width: 200px;" onclick="resetPassword('{$user->id}')">
				<img src="/images/eve/refresh.png" align="left" />
				Reset Password
			</button>
		</div>
	<!--
		<div style="margin-bottom: 5px;">
			<button type="button" style="width: 200px;" onclick="validateAPI('{$user->id}')">
				<img src="/images/eve/aura.png" style="height: 16px;" align="left" />
				Run API validation
			</button>
		</div>
	-->
		<div style="margin-bottom: 2px;">
			{if $user->deleted > 0}
				<button type="button" style="width: 200px;" onclick="banUser('{$user->id}')">
					<img src="/images/eve/apply.png" align="left" />
					Re-Activate User
				</button>
			{else}
				<button type="button" style="width: 200px;" onclick="banUser('{$user->id}')">
					<img src="/images/eve/stop.png" align="left" />
					BAN User
				</button>
			{/if}
		</div>
{foreach from=$App->user->getAuthGroups() item=authgroup}
	{if $authgroup->getMayAdmin($App->user) && $authgroup->getConfig('access_control') == "manual"}
		{if $user->isAuthorized()}
			<div style="margin-bottom: 2px;">
				<button type="button" style="width: 200px;" onclick="authorizeUser('{$user->id}')">
					<img src="/images/eve/cross.png" align="left" />
					Revoke Access
				</button>
			</div>
		{else}
			<div style="margin-bottom: 2px;">
				<button type="button" style="width: 200px;" onclick="authorizeUser('{$user->id}')">
					<img src="/images/eve/apply.png" align="left" />
					Authorize User
				</button>
			</div>
		{/if}
	{/if}
{/foreach}
	{if $App->user->getIsSysAdmin()}
		<div style="margin-bottom: 1px;">
			<button type="button" style="width: 200px;" onclick="document.location='index.php?module=users&loginas={$user->id}'">
				<img src="/images/eve/undock.small.png" align="left" />
				Login as {$user->username}
			</button>
		</div>
	{/if}
	{if isset($usergroups)}
		<div style="margin-top: 30px;">
			<button type="submit" style="width: 200px;">
				<img src="/images/default/save.png" align="left" />
				Save User
			</button>
		</div>
	{/if}
	</div>
	</form>
	<div style="clear:both;"></div>
	<br />
	<br />
</div>

<div class="content">
	<div class="tabs">
		<ul>
			<li><a href="#" onclick="showTabs('characters'); return false;">Characters</a></li>
			<li><a href="#" onclick="showTabs('logs'); showUserLogs(); return false;">Logs</a></li>
		</ul>
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>

	{* CHARACTERS *}
	<div id="detailtab-characters" rel="detailtab">
		<h1 style="margin-bottom: .3em;">
			<img src="/images/default/ui/charactersheet.png" align="left">
			Authorized Characters
		</h1>
		<div>
	{assign var=i value=0}
	{foreach from=$user->getCharacters() item=character}
		{if $character->isAuthorized()}
			<div class="col6 {if $i%2==1}right last{/if}" style="margin-bottom: 2em;">
				{include file="profile/characters/character" character=$character}
			</div>
			{assign var=i value=$i+1}
		{/if}
	{/foreach}
		</div>
		<div style="clear:both;"></div>

		<h1 style="margin-bottom: .3em;">
			<img src="/images/default/ui/charactersheet.png" align="left">
			Other Characters
		</h1>
		<div>
	{assign var=i value=0}
	{foreach from=$user->getCharacters() item=character}
		{if !$character->isAuthorized()}
			<div class="col6 {if $i%2==1}right last{/if}" style="margin-bottom: 2em;">
				{include file="profile/characters/character" character=$character}
			</div>
			{assign var=i value=$i+1}
		{/if}
	{/foreach}
		</div>
		<div style="clear:both;"></div>
	</div>

	{* LOGS *}
	<div id="detailtab-logs" rel="detailtab" style="display:none;">
		<h1>USER LOGS</h1>
		<div id="userlogs"></div>
		<div style="clear:both;"></div>
	</div>

	<div style="clear:both;"></div>
</div>