{if isset($App->user)}
<div id="header">
	<div id="headercontainer">
		<div id="infoheader">
			<div id="infoheaderbar">
				{include "infoheader"}
			</div>
			<div style="clear:both;"></div>
		</div>
		<div id="menucontainer">
			{$mainmenu}
		</div>
	</div>
{if isset($newPatchNotes)}
	<div id="menuNotifications">
		<div>
			New updates since your last visit!
			&nbsp;
			<a href="/system/patchnotes">Patch-notes</a>
		</div>
	</div>
{/if}
</div>
{/if}

{if isset($App->user) && $App->user->getActiveNotifications()|@count > 0}
{foreach from=$App->user->getActiveNotifications() item=note}
    <div class="userNotification {$note->type}">
        <form method="post" action="">
        <input type="hidden" name="readNotification" value="{$note->id}">
        <div class="noteTitle">{$note->getTitle()}</div>
        <div class="noteContent">{$note->getContent()}</div>
    {if $note->userID == $App->user->id}
        <div class="noteButtons">
            <button type="submit" class="small">OK</button>
        </div>
    {/if}
        <div class="noteInfo" style="padding-top: .5em; font-size: .8em; text-align: right;">
            Questions? Please contact: <b>BLOEMKOOLSAUS</b>
            &nbsp; | &nbsp;
            {$note->notifyDate|date_full} - {$note->notifyDate|date_time}
        </div>
        </form>
    </div>
{/foreach}
{/if}

{if isset($newNewsItems) && $newNewsItems > 0}
<script type="text/javascript">
$(document).ready(function() {
    setTimeout(showUnreadNews, 2000);
});
</script>
{/if}