<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>{$pageTitle|implode:" - "}</title>
	<link rel='shortcut icon' href='images/fav.ico'>
	<link rel="shortcut icon" type="image/x-icon" href="images/fav.ico">
{foreach from=$javascript key=module item=moduleScripts}
{foreach from=$moduleScripts key=directory item=scripts}
{foreach from=$scripts key=name item=script}
	<script type="text/javascript" language="javascript" src="{$script}"></script>
{/foreach}
{/foreach}
{/foreach}
{foreach from=$stylesheet key=module item=moduleSheets}
{foreach from=$moduleSheets key=directory item=sheets}
{foreach from=$sheets key=name item=sheet}
	<link rel="stylesheet" type="text/css" href="{$sheet}" />
{/foreach}
{/foreach}
{/foreach}
</head>
<body>

{if isset($mainheader)}
{$mainheader}
{/if}

{if $App->theme == 'kingsday'}
<div id="alexander">&nbsp;</div>
<div id="maxima">&nbsp;</div>
{/if}

<div id="maincontainer">
	<div id="maincontent">
	{if $App->theme == 'kingsday'}
		<div id="levedekoning" class="content">
			<div id="banner">
				<div class="description">
					<h1>KONINGSDAG  &nbsp; -  &nbsp; KINGSDAY &nbsp; &nbsp;&nbsp;</h1>
				</div>
				<div class="banner">
					<img src="images/oranje/levedekoning.png">
				</div>
				<div class="description">
					Today, we celibrate koningsdag (kingsday).
					Every infidel that does not know what that is, go 
					<a href="http://en.wikipedia.org/wiki/Koningsdag" target="_blank">here</a>
					and confess your sins.<br />
					<br />
				</div>
			</div>
		</div>
	{/if}
		{$maincontent}
	</div>
	<div style="clear:both;"></div>
	<br />
	<br />
</div>


{$debug}

</body>
</html>