<form method="post" action="">
	<input type="hidden" name="save" value="account"/>

{if isset($errors) && $errors|@count>0}
    <div class="content">
        <div class="error">
        {foreach from=$errors key=e item=error}
            <div>{$error}</div>
        {/foreach}
        </div>
    </div>
{/if}

	<h2>
		<img src="/images/default/ui/charactersheet.png" align="left">
		Account Settings
	</h2>
	<div class="form">
		<div class="field">Main character:</div>
		<div id="maincharacter" class="value">
			<select name="maincharacter">
				<option value="0"></option>
			{foreach from=$App->user->getAuthorizedCharacters() item=char}
				<option value="{$char->id}" {if $char->id == $App->user->getMainCharacterID()}selected{/if}>
					{$char->name}
				</option>
			{/foreach}
			</select>
		</div>
	</div>
	<div class="form">
		<div class="field">Dedicated scanning character:</div>
		<div class="value">
			<select name="setting[scanalt]">
				<option value="0"></option>
			{foreach from=$App->user->getAuthorizedCharacters() item=char}
				<option value="{$char->id}" {if $char->id == $App->user->getSetting("scanalt")}selected{/if}>
					{$char->name}
				</option>
			{/foreach}
			</select>
		</div>
	</div>
	<div class="form">
		<div class="field">Jump Drive Calibration Lvl:</div>
		<div class="value">
			<input name="setting[jumpdrivecal]" value="{$App->user->getSetting("jumpdrivecal")}" type="text" style="width: 50px;">
			&nbsp; For calculating cyno jumps when you set <a href="/profile/capitals">capital ships</a>
		</div>
	</div>
	<div style="clear:both;"></div>
	<div class="form buttons" style="margin-top: 1em;">
		<button type="submit">
			<img src="/images/default/save.png" align="left">
			Save Settings
		</button>
	</div>
	<div style="clear:both;"></div>
</form>