<form method="post" action="" name="formEditChain">

    <div class="content">
        <h1>
		{if $chain->id > 0}
			Map: &nbsp;
			{if $chain->getHomesystem() != null}
				{$chain->getHomesystem()->getFullname()}
				-
			{/if}
			{$chain->name}
		{else}
			New Map
		{/if}
        </h1>
	{if isset($errors)}
		<div class="error">
		{foreach from=$errors item=error}
			<p>{$error}</p>
		{/foreach}
		</div>
	{/if}

        <div style="float: left; width: 45%; min-width: 450px;">
            <input type="hidden" name="store" value="1"/>
            <input type="hidden" id="chainid" name="id" value="{$chain->id}" />
            <div class="form">
                <label class="field">Access Group:</label>
                <label class="value">
            {if $authgroups|@count > 1}
                    <select name="authgroup">
                        <option value="0"></option>
                    {foreach from=$authgroups item=group}
                        <option value="{$group->id}" {if $chain->authgroupID == $group->id}selected{/if}>{$group->name}</option>
                    {/foreach}
                    </select>
            {else}
                {if $chain->getAuthgroup() != null}
                    <input type="hidden" name="authgroup" value="{$chain->getAuthgroup()->id}">
                    <span style="text-transform: uppercase; color: #ffffff;">
                        <h3>{$chain->getAuthgroup()->name}</h3>
                    </span>
                {/if}
            {/if}
                </label>
            </div>
            <div class="form">
                <label class="field">Name:</label>
                <label class="value">
                    <input type="text" name="name" value="{$chain->name}" />
                </label>
            </div>
            <div class="form">
                <label class="field">Home-system:</label>
                <label class="value">
                    <input type="text" name="homesystem" value="{$chain->getHomeSystem()->name}" />
                </label>
            </div>
            <div class="form">
                <label class="field">System Name:</label>
                <label class="value">
                    <input type="text" name="homesystemname" value="{$chain->systemName}" />
                </label>
            </div>
            <div class="form">
                <label class="field">Sort Order:</label>
                <label class="value">
                    <input type="text" name="sortorder" value="{$chain->prio}" />
                </label>
            </div>
			<div class="form">
				<label class="field">Auto-name systems:</label>
				<label class="value">
					<select name="settings[wh-autoname-scheme]">
						<option value="0">-- do not name systems --</option>
					{foreach from=$namingschemes item=scheme}
						<option value="{$scheme->id}" {if $chain->getSetting('wh-autoname-scheme') == $scheme->id}selected{/if}>
							{$scheme->title}
						</option>
					{/foreach}
					</select>
				</label>
			</div>
			<div class="form">
				<label class="field">&nbsp;</label>
				<input type="checkbox" id="create-unmapped" name="settings[create-unmapped]" {if $chain->getSetting('create-unmapped')}checked{/if} value="1" />
				<label for="create-unmapped" style="float: none;">Create an unmapped system when a wh signature is added?</label>
			</div>
			<div class="form">
				<label class="field">&nbsp;</label>
				<input type="checkbox" id="count-statistics" name="settings[count-statistics]" {if $chain->getSetting('count-statistics')}checked{/if} value="1" />
				<label for="count-statistics" style="float: none;">Count in statistics / leaderboard</label>
			</div>
			<div class="form">
				<label class="field">&nbsp;</label>
				<input type="checkbox" id="directors-only" name="settings[directors-only]" {if $chain->getSetting('directors-only')}checked{/if} value="1" />
				<label for="directors-only" style="float: none;"><u><b>Only</b></u> visible for CEO and Directors</label>
			</div>
        </div>
        <div style="float: right; width: 45%; min-width: 450px;">
            <h3>Control Settings:</h3>
            <div style="padding: 10px;">
                <div>Use these settings to restrict map controls for <u>this</u> chain.</div>
                <ul>
                    <li>Each setting can be restricted to users in a certain usergroup.<br />
                        You can set usergroups via `admin` -> `user-groups`.</li>
                    <li>Each setting is <u>always</u> enabled for CEO and Directors!</li>
                </ul>
            </div>
            <div class="form">
                <label class="field"><u>Action:</u></label>
                <label class="value"><u>Enabled for:</u></label>
            </div>
            <div class="form">
                <label class="field">Re-position systems:</label>
                <label class="value">
                    <select name="control[move]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-move') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-move') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Remove systems:</label>
                <label class="value">
                    <select name="control[delete]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-delete') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
					{foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
						<option value="{$group->id}" {if $chain->getSetting('control-delete') == $group->id}selected{/if}>
							{$group->name}
						</option>
					{/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Add system manually:</label>
                <label class="value">
                    <select name="control[add]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-add') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-add') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Add manual mass:</label>
                <label class="value">
                    <select name="control[mass]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-mass') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-mass') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Add to known systems:</label>
                <label class="value">
                    <select name="control[known]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-known') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-known') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Add system notice:</label>
                <label class="value">
                    <select name="control[notice]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-notice') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-notice') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
        </div>
        <div style="clear:both;"></div>
        <br />
        <div style="text-align: right;">
            <button type="submit">Save Chain</button>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="content">
        <h2>Access Control</h2>
    {if $chain->getAuthGroup() != null}
        <div style="float: left; width: 25%; min-width: 200px;">
            <div style="padding: 5px;">
                <u><b>Alliances:</b></u>
            </div>
        {if $chain->getAuthGroup()->getAlliances()|@count > 0}
            <div style="padding: 5px;">
			{foreach from=$chain->getAuthGroup()->getAlliances() item=ally}
				<div>
					<input type="checkbox" id="alliance{$ally->id}" name="alliances[]" value="{$ally->id}"
						{foreach from=$chain->getAlliances() item=cally}
							{if $ally->id == $cally->id}checked{/if}
						{/foreach}>
					<label for="alliance{$ally->id}" style="float: none;">
						{$ally->name}
					</label>
				</div>
			{/foreach}
            </div>
        {/if}
        </div>
        <div style="float: left; width: 25%; min-width: 200px;">
            <div style="padding: 5px;">
                <u><b>Corporations:</b></u>
            </div>
        {if $chain->getAuthGroup()->getCorporations()|@count > 0 || $chain->getAuthGroup()->getAlliances()|@count > 0}
            <div style="padding: 5px;">
			{foreach from=$chain->getAuthGroup()->getAllowedCorporations() item=corp}
				<div>
					<input type="checkbox" id="corp{$corp->id}" name="corporations[]" value="{$corp->id}"
						{foreach from=$chain->getCorporations() item=ccorp}
							{if $corp->id == $ccorp->id}checked{/if}
						{/foreach}>
					<label for="corp{$corp->id}" style="float:none;">
						{$corp->name}
					{if $corp->getAlliance() != null && $corp->getAlliance()->ticker}
						(<i>{$corp->getAlliance()->ticker}</i>)
					{/if}
					</label>
				</div>
			{/foreach}
            </div>
        {/if}
        </div>
        <div style="float: right; width: 45%; min-width: 200px;">
            <div class="message">
                <ul>
                    <li>Only Alliances and Corporations in the selected Access Group can be allowed.</li>
                    <li>When you allow an alliance, <u>all</u> corporations in that alliance will have access to this chain.</li>
                </ul>
            </div>
        </div>
    {else}
        <div style="color: red;">
            <u>No Access Group selected.</u>
        </div>
        <div>
            <div>
                Before you can assign access, an Access Group must be selected for this chain.
            </div>
            <div>
                Select an Access Group and hit save.
            </div>
        </div>
    {/if}
        <div style="clear:both;"></div>
        <br />
        <div style="text-align: right;">
            <button type="submit">Save Chain</button>
        </div>
        <div style="clear:both;"></div>
    </div>

</form>