<form method="post" action="" name="formEditChain">

    <div class="content">
        <h1>
		{if $chain->id > 0}
			Map: &nbsp;
			{if $chain->getHomesystem() != null}
				{$chain->getHomesystem()->getFullname()}
				-
			{/if}
			{$chain->name}
		{else}
			New Map
		{/if}
        </h1>
	{if isset($errors)}
		<div class="error">
		{foreach from=$errors item=error}
			<p>{$error}</p>
		{/foreach}
		</div>
	{/if}

        <div style="float: left; width: 45%; min-width: 450px;">
            <input type="hidden" name="store" value="1"/>
            <input type="hidden" id="chainid" name="id" value="{$chain->id}" />
            <div class="form">
                <label class="field">Access Group:</label>
                <label class="value">
            {if $authgroups|@count > 1}
                    <select name="authgroup">
                        <option value="0"></option>
                    {foreach from=$authgroups item=group}
                        <option value="{$group->id}" {if $chain->authgroupID == $group->id}selected{/if}>{$group->name}</option>
                    {/foreach}
                    </select>
            {else}
                {if $chain->getAuthgroup() != null}
                    <input type="hidden" name="authgroup" value="{$chain->getAuthgroup()->id}">
                    <span style="text-transform: uppercase; color: #ffffff;">
                        <h3>{$chain->getAuthgroup()->name}</h3>
                    </span>
                {/if}
            {/if}
                </label>
            </div>
            <div class="form">
                <label class="field">Map Name:</label>
                <label class="value">
                    <input type="text" name="name" value="{$chain->name}" />
                </label>
            </div>
            <div class="form">
                <label class="field">Home-system:</label>
                <label class="value">
                    <input type="text" name="homesystem" value="{$chain->getHomeSystem()->name}" />
                </label>
            </div>
            <div class="form">
                <label class="field">Home-system Title:</label>
                <label class="value">
                    <input type="text" name="homesystemname" value="{$chain->systemName}" />
                </label>
            </div>
            <div class="form">
                <label class="field">Sort Order:</label>
                <label class="value">
                    <input type="text" name="sortorder" value="{$chain->prio}" style="width: 40px; text-align: center;"/>
					&nbsp; <i>The order in which maps will appear in the menu.</i>
                </label>
            </div>
			<div class="form">
				<label class="field">Auto-name systems:</label>
				<label class="value">
					<select name="settings[wh-autoname-scheme]">
						<option value="0">-- do not name systems --</option>
					{foreach from=$namingschemes item=scheme}
						<option value="{$scheme->id}" {if $chain->getSetting('wh-autoname-scheme') == $scheme->id}selected{/if}>
							{$scheme->title}
						</option>
					{/foreach}
					</select>
				</label>
			</div>
			<div class="form">
				<label class="field">&nbsp;</label>
				<input type="checkbox" id="create-unmapped" name="settings[create-unmapped]" {if $chain->getSetting('create-unmapped')}checked{/if} value="1" />
				<label for="create-unmapped" style="float: none;">Create an unmapped system when a wh signature is added</label>
			</div>
			<div class="form">
				<label class="field">&nbsp;</label>
				<input type="checkbox" id="count-statistics" name="settings[count-statistics]" {if $chain->getSetting('count-statistics')}checked{/if} value="1" />
				<label for="count-statistics" style="float: none;">Count in statistics / leaderboard</label>
			</div>
			<div class="form">
				<label class="field">&nbsp;</label>
				<input type="checkbox" id="directors-only" name="settings[directors-only]" {if $chain->getSetting('directors-only')}checked{/if} value="1" />
				<label for="directors-only" style="float: none;"><u><b>Only</b></u> visible for CEO and Directors</label>
			</div>
        </div>
        <div style="float: right; width: 45%; min-width: 450px;">
            <h3>Control Settings:</h3>
			<div class="standout">
				<div><b>Use these settings to restrict map controls for <u>this</u> chain.</b></div>
				<ul>
					<li>Every setting is <u>always</u> enabled for <b>CEOs</b> and <b>Admins</b>!</li>
					<li>Every setting can be restricted to users in a certain usergroup.<br />
						You can set usergroups via <a href="/users/groups" target="_blank">admin > user-groups</a>.</li>
				</ul>
			</div>
            <div class="form" style="margin-bottom: .7em; color: #ffffff;">
                <label class="field"><strong>Action:</strong></label>
                <label class="value"><strong>Enabled for:</strong></label>
            </div>
            <div class="form">
                <label class="field">Re-position systems:</label>
                <label class="value">
                    <select name="control[move]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-move') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-move') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Remove systems:</label>
                <label class="value">
                    <select name="control[delete]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-delete') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
					{foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
						<option value="{$group->id}" {if $chain->getSetting('control-delete') == $group->id}selected{/if}>
							{$group->name}
						</option>
					{/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Add system manually:</label>
                <label class="value">
                    <select name="control[add]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-add') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-add') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Add manual mass:</label>
                <label class="value">
                    <select name="control[mass]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-mass') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-mass') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Add to known systems:</label>
                <label class="value">
                    <select name="control[known]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-known') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-known') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
            <div class="form">
                <label class="field">Add system notice:</label>
                <label class="value">
                    <select name="control[notice]">
                        <option value="0">All users</option>
                        <option value="dir" {if $chain->getSetting('control-notice') == 'dir'}selected{/if}>CEO & Directors</option>
				{if $chain->getAuthgroup() != null}
                    {foreach from=$chain->getAuthgroup()->getUsergroups() item=group}
                        <option value="{$group->id}" {if $chain->getSetting('control-notice') == $group->id}selected{/if}>
                            {$group->name}
                        </option>
                    {/foreach}
				{/if}
                    </select>
                </label>
            </div>
        </div>
        <div style="clear:both;"></div>

        <div style="text-align: right; margin-top: 2em;">
            <button type="submit">
				<img src="/images/default/ui/save.png" align="left">
				Save Map
			</button>
        </div>
        <div style="clear:both;"></div>
    </div>

{if $chain->id}
    <div class="content">
        <h2>Access Control</h2>

		<div class="col8">
			<div class="col5" style="margin-right: 3em;">
			{if $chain->getAlliances()|@count > 0}
				<div style="margin-bottom: 1em;">
					<div style="margin: 2px;">
						<h3>Alliances:</h3>
					</div>
				{foreach from=$chain->getAlliances() item=alliance}
					<div style="margin: 2px;">
						<img src="http://image.eveonline.com/Alliance/{$alliance->id}_32.png" style="height: 18px;" align="left">
						<a href="/admin/chain/edit/{$chain->id}?deletealliance={$alliance->id}"><img src="/images/eve/cross.png" align="right"></a>
						&nbsp; {$alliance->name}
						<div style="clear:both;"></div>
					</div>
				{/foreach}
				</div>
			{/if}
			{if $chain->getCorporations()|@count > 0}
				<div style="margin-bottom: 1em;">
					<div style="margin: 2px;">
						<h3>Corporations:</h3>
					</div>
				{foreach from=$chain->getCorporations() item=corp}
					<div style="margin: 2px;">
						<img src="http://image.eveonline.com/Corporation/{$corp->id}_32.png" style="height: 18px;" align="left">
						<a href="/admin/chain/edit/{$chain->id}?deletecorporation={$corp->id}"><img src="/images/eve/cross.png" align="right"></a>
						&nbsp; {$corp->name}
						<div style="clear:both;"></div>
					</div>
				{/foreach}
				</div>
			{/if}
			{if $chain->getAccessLists()|@count > 0}
				<div style="margin-bottom: 1em;">
					<div style="margin: 2px;">
						<h3>Access Lists:</h3>
					</div>
				{foreach from=$chain->getAccessLists() item=list}
					<div style="margin: 2px;">
						<img src="/images/default/ui/key.png" align="left">
						<a href="/admin/chain/edit/{$chain->id}?deleteaccesslist={$list->id}"><img src="/images/eve/cross.png" align="right"></a>
						&nbsp; {$list->title|ucfirst}
						<div style="clear:both;"></div>
					</div>
				{/foreach}
				</div>
			{/if}
			</div>
		</div>
		<div class="col4 right last">
			<div class="form">
				<h3>Add Access:</h3>
			</div>
			<div class="form">
				<div class="field">Alliance:</div>
				<div class="value">
					<select name="alliance" onchange="document.formEditChain.submit()">
						<option value=""></option>
					{foreach from=$chain->getAuthGroup()->getAlliances() item=alliance}
						<option value="{$alliance->id}">{$alliance->name}</option>
					{/foreach}
					</select>
				</div>
			</div>
			<div class="form">
				<div class="field">Corporation:</div>
				<div class="value">
					<select name="corporation" onchange="document.formEditChain.submit()">
						<option value=""></option>
					{foreach from=$chain->getAuthGroup()->getCorporations() item=corporation}
						<option value="{$corporation->id}">{$corporation->name}</option>
					{/foreach}
					</select>
				</div>
			</div>
			<div class="form">
				<div class="field">Access List:</div>
				<div class="value">
					<select name="accesslist" onchange="document.formEditChain.submit()">
						<option value=""></option>
					{foreach from=$App->user->getAdminAccessLiss() item=list}
						<option value="{$list->id}">{$list->title}</option>
					{/foreach}
					</select>
				</div>
			</div>
		</div>
        <div style="clear:both;"></div>

		<div style="text-align: right; margin-top: 2em;">
			<button type="submit">
				<img src="/images/default/ui/save.png" align="left">
				Save Map
			</button>
		</div>
        <div style="clear:both;"></div>
    </div>
{/if}
</form>