<div class="content">
	<h1>
		<img src="/images/default/ui/map.png" align="left">
		Manage Maps
	</h1>
	<div>
		<div class="col6">

		</div>
		<div class="col6 right last">
			<div style="text-align: right;">
				<button type="button" onclick="document.location='/admin/chain/new/'">
					<img src="/images/default/ui/plus.png" align="left">
					Create new map
				</button>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
{if $chains|@count > 0}
	<table class="sectionoverview" style="margin-top: 1em;">
		<tr>
		{if $App->user->getIsSysAdmin()}
			<th>Authorization Group</th>
		{/if}
			<th>Name</th>
			<th>Home-system</th>
			<th>Alliances</th>
			<th>Corporations</th>
		{if $App->user->getIsSysAdmin()}
			<th>Last Active</th>
		{/if}
			<th style="width: 80px;">Sort Order</th>
			<th style="width: 50px;"></th>
		</tr>
	{foreach from=$chains key=c item=chain}
		<tr class="{if $c%2==0}even{else}odd{/if}">
		{if $App->user->getIsSysAdmin()}
			<td onclick="document.location='/admin/chain/edit/{$chain->id}'">
				{$chain->getAuthGroup()->name}
			</td>
		{/if}
			<td onclick="document.location='/admin/chain/edit/{$chain->id}'">
				{$chain->name}
			</td>
			<td onclick="document.location='/admin/chain/edit/{$chain->id}'">
				{$chain->getHomeSystem()->getFullname()}
			{if $chain->getHomeSystem()->name != $chain->systemName}
				&nbsp; - &nbsp;
				{$chain->systemName}
			{/if}
			</td>
			<td onclick="document.location='/admin/chain/edit/{$chain->id}'">
				{foreach from=$chain->getAlliances() item=ally}
					{$ally->name}<br />
				{/foreach}
			</td>
			<td onclick="document.location='/admin/chain/edit/{$chain->id}'">
				{foreach from=$chain->getCorporations() item=corp}
					{$corp->name}<br />
				{/foreach}
			</td>
		{if $App->user->getIsSysAdmin()}
			<td onclick="document.location='/admin/chain/edit/{$chain->id}'">
			{if $chain->lastActive != null}
				{$chain->lastActive|date_full}
			{/if}
			</td>
		{/if}
			<td style="text-align: center;"
					onclick="document.location='/admin/chain/edit/{$chain->id}'">
				{$chain->prio}
			</td>
			<td style="text-align: center;">
				<a href="/admin/chain/edit/{$chain->id}"><img src="/images/default/ui/edit.png" style="border:0px;"></a>
				<a href="#" onclick="if(confirm('Are you sure you want to delete this map?')) {literal}{{/literal} document.location = '/admin/chain/delete/{$chain->id}'; {literal}}{/literal}"><img src="/images/default/cross.png" style="border:0px;"></a>
			</td>
		</tr>
	{/foreach}
	</table>
{else}
	<div>
		No available chains. Create a new chain to get started!
	</div>
{/if}
</div>