div#levedekoning {
	color: #FFFFFF;
}
div#levedekoning #banner {
    display: inline-block;
	text-align: center;
	text-decoration: none;
	border: 0px;
	color: #ff8800;
	background-position: center;
    background: #ffffff;
    width: 100%;
}

div#levedekoning .description {
	padding: 0px;
	color: #ff8800;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
}

div#levedekoning .description h1 {
	margin: 0px;
	padding: 0px;
	padding-top: .2em;
    margin-bottom: -.1em;
	text-decoration: none;
	border: none;
	color: #ff8800;
	text-shadow: 1px 1px 2px #ffffff;
	font-family: Verdana, sans-serif;
    font-size: 2rem;
}

div#levedekoning #banner div.banner {
	background-position: center;
	background-image: url(/images/oranje/levedekoning.png);
    height: 75px;
}

div#alexander {
	position: fixed;
	background-image: url(/images/oranje/alexander.png);
	background-repeat: no-repeat;
	width: 250px;
	height: 600px;
	left: 0px;
	top: 0px;
}
div#maxima {
	position: fixed;
	background-image: url(/images/oranje/maxima.png);
	background-repeat: no-repeat;
	width: 250px;
	height: 600px;
	right: 0px;
	top: 0px;
}

h1, h2 {
    color: #ffaa00;
}