body {
	background-image: url(/images/oranje/crown-1080p-wallpaper_1.jpg);
	background-position: center top, left top, right top;
}

#infoheader {
	background: #ffffff !important;
	background-repeat: repeat-x;
}
#infoheaderbar {
	color: #dd6600;
	padding: 2px;
}
#menucontainer {
	background-color: #ff8800;
	background: linear-gradient(#ff8800, #dd6600);
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #cccccc;
}
li.mainmenu a {
	color: #ffffff;
	text-decoration: none;
}
li.mainmenu,
li.mainmenu:hover {
	border-right: solid 1px #ffffff;
}
li.mainmenu.first,
li.mainmenu.first:hover {
	border-left: solid 1px #ffffff;
}
div.content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}