{include "vippy/menu"}

<div class="content">
	<h1>About VIPPY</h1>
</div>

<div id="aboutVippy">

	<div class="content">
		<div class="col2">
			<img src="/images/discord-vippy.png">
		</div>
		<div class="col7 last">
			<p>
				VIPPY is the most comprehensive and powerfull wormhole space mapper around.<br />
				Built to raise situational awareness and support PVP groups, providing all the information you want about your chain.
			</p>
			<p>
				VIPPY is made and maintained by <a href="https://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloemkoolsaus</a>.
				An EVE veteran and CEO of a wormhole corp for the past {($smarty.now|date_format:"Y")-2011} years.<br />
				In early 2012, My corp (<i>Viperfleet Inc.</i>) was at the time using Siggy, but it started having problems
				and we found it to be lacking in features we needed. At the time there were no alternatives.
				Being a programmer, my corp started to push me to build our own wormhole mapper, the result is VIPPY.
			</p>
			<p>
				VIPPY started with only a couple of users (my own corp). It was never intended for to be used by anyone
				else other then us, but over the years, more and more people got exposed to VIPPY and prefered it.
				Today, many groups of all sizes depend on it for their mapping and navigation needs.
			</p>
			<p>
				After {($smarty.now|date_format:"Y")-2012} years, VIPPY is still being actively developed
				and is receiving regular updates and features additions!
			</p>
			<p>
				<span style="font-weight: bold; color: #ffffff;">Signup for a free trial month now!</span>
			</p>
			<p>
				Need help? Have questions?
				Please don't hesitate to contact <a href="https://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloemkoolsaus</a>!
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>

	<div class="content" style="padding-top: 2em;">
		<div class="col6">
			<h3>Can I host Vippy on my own server?</h3>
			<div>
				No. VIPPY is closed source and will remain that way.
			</div>
			<div style="margin-top: 1em;">
				<span style="font-weight: bold; color: #ffffff;">But we don't trust you!</span>
			</div>
			<div>
				That's ok. Realise that I have better things to do then look at everyone's maps.
			</div>
			<div>
				If I want to find you, I will. I don't need any intel that Vippy could give me for that :)
			</div>
		</div>
		<div class="col6 right last">
			<h3>Does VIPPY cost money?</h3>
			<div>
				Yes. VIPPY requires an (ingame) ISK subscription to use.
				Read about that <a href="/vippy/costs">here</a>.
			</div>
			<div style="margin-top: 1em;">
				When you first sign up VIPPY will grant you a <strong>free</strong> trial.
				This way you can try VIPPY and see if you think it is worth your money.
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>