{include "vippy/menu"}

<div class="content">
	<h1>About VIPPY</h1>
</div>

<div id="aboutVippy">

	<div class="content">
		<div class="col2">
			<img src="/images/discord-vippy.png">
		</div>
		<div class="col7 last">
			<p>
				VIPPY is the most comprehensive and powerfull wormhole space mapper around.<br />
				Built to raise situational awareness and support PVP groups, providing all the information you want about your chain.
			</p>
			<p>
				VIPPY is made and maintained by <a href="https://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloemkoolsaus</a>.
				In early 2012, My corp (<i>Viperfleet Inc.</i>) was at the time using Siggy, but it started having problems
				and we found it to be lacking in features we needed. At the time there were no alternatives.
				Being a programmer, my corp started to push me to build our own wormhole mapper, the result is VIPPY.
			</p>
			<p>
				VIPPY started with only a couple of users (my own corp). It was never intended for to be used by anyone else other then us, but over the years,
				more and more people got exposed to VIPPY and now many groups of all sizes depend on it for their mapping and navigation needs.
			</p>
			<p>
				Now {($smarty.now|date_format:"Y")-2012} years after it's inception, VIPPY is being actively developed and it is receiving regular updates and features additions!
			</p>
			<p>
				<span style="font-weight: bold; color: #ffffff;">Signup for a free trial month now!</span>
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>

</div>