<div class="content">
	<div class="col5">
		<div>
			<p>
				Need help?<br />
				Have questions?<br />
				Please don't hesitate to contact <a href="https://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloemkoolsaus</a>!
			</p>
		</div>
		<div style="margin-top: 2em;">
			<h3>Discord</h3>
			<p>
				You can also contact me via a Vippy discord server that i've set up.<br />
				Join via this link: <a href="https://discord.gg/cqQEaFB" target="_blank">https://discord.gg/cqQEaFB</a>
			</p>
			<p>
				Please note that anyone can join this server. Be carefull with sharing your intel.<br />
				If you do not want others to know you're using Vippy, don't join the discord.
			</p>
		</div>
		<div style="margin-top: 2em;">
			<h3>Ingame</h3>
			<p>
				You can also contact me ingame, via eve-mail or via direct convo (if i'm on) on
				<a href="https://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloemkoolsaus</a>
			</p>
		</div>
	</div>
	<div class="col7 right last">
		<div class="standout">
			<img src="/images/default/notifications/warning.png" align="left" style="margin-right: 1em; margin-top: 2.2em; margin-bottom: 1em;">
			<div style="padding: .5em; font-weight: bold; color: #ffffff;">
				DISCLAIMER
			</div>
			<div style="padding: .5em; padding-top: 0;">
				Please keep in mind that I have a job, a household, a corporation  <strong>and</strong> a RL to run.
				I may <strong>not</strong> always be able to respond immediately.
			</div>
		</div>
	</div>
<div style="clear:both;"></div>
</div>