<div class="content">
	<h1 style="margin-bottom: 0;">
		<img src="/modules/vippy/images/info.png" align="left">
		About VIPPY: Subscription & Costs
	</h1>
</div>

{include "vippy/menu"}

<div id="aboutVippy">
	<div class="content">
		<div>
			Vippy is not free to run. Find out all about what vippy will cost you, here.
		</div>
		<div>
			<span style="font-weight: bold; color: #ffffff;">The first month is free of charge!</span>
			Try out vippy out and see if you think it is worth your isk!
		</div>
	</div>

	{include "vippy/subscription"}

</div>