<div class="content">
	<div class="tabs">
		<ul>
		{if !isset($App->user)}
			<li class="mainmenu first">
				<a href="/" title="VIPPY">VIPPY</a>
			</li>
		{/if}
			<li class="mainmenu">
				<a href="/vippy/about" title="About">
					<img src="/modules/vippy/images/info.png" align="left">
					About
				</a>
			</li>
			<li class="mainmenu">
				<a href="/vippy/features" title="Features">
					<img src="/modules/vippy/images/note.png" align="left">
					Features
				</a>
			</li>
			<li class="mainmenu">
				<a href="/vippy/costs" title="Subscription costs">
					<img src="/modules/vippy/images/license.png" align="left">
					Subscription
				</a>
			</li>
			<li class="mainmenu">
				<a href="/vippy/contact" title="Contact">
					<img src="/modules/vippy/images/contact.png" align="left">
					Contact
				</a>
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>
</div>