
<div class="content">
	<div style="padding: .5em;">
		<h2>
			<img src="/images/default/ui/marketdeliveries.png" align="left">
			Subscription
		</h2>
	</div>
	<div class="col6">
		<div style="padding: .5em;">
			A subscription for Vippy is roughly <strong>10 milion ISK</strong> per (active) user, per month.
		</div>
		<ul>
			<li>Vippy counts <strong>users</strong>, not characters!</li>
			<li>Total fee is rounded to the nearest 50 milion.</li>
			<li>The maximum fee is 500m per month. If your group exceeds that, it will be reduced to 500m.</li>
			<li>If you have 4 or less active users, your fee will be 0.</li>
		</ul>
		<div style="padding: .5em;">
			At the end of each month, your fee will be calculated based on the amount of active users of the current month.
			A user is considered active, when he/she has used Vippy within the last 30 days.
		</div>
		<div style="padding: .5em;">
			If you are an admin, you can see your current balance, subscription(s), payments, active user count, etc on your
		{if isset($App->user) && $App->user->isAdmin()}
			<a href="/admin/authgroup/edit/{$App->user->getCurrentAuthGroupID()}" target="_blank">access control group</a>
		{else}
			access control group
		{/if}
			page.
		</div>
		<div style="padding: .5em; margin-top: 2em;">
			<h3>Where do I transfer the ISK to?</h3>
		</div>
		<div style="padding: .3em;">
			Transfer the money to the ingame character <strong><a href="http://gate.eveonline.com/profile/bloemkoolsaus" target="blank">Bloemkoolsaus</a></strong>.
			Put the keyword "<i>vippy</i>" in the transaction description to make sure Vippy's automated tracker
			picks up on your payment.
		</div>
		<div style="padding: .3em;">
			You can transfer either directly from your corp wallet or from a character wallet.
			If you transfer from a character wallet, make sure that character is in your corp which is registered on Vippy,
			so the tracker can assign it to your balance!
		</div>
	</div>
	<div class="col5 right last">
		<div style="padding: 1em; padding-top: 0;">
			<h3>Why do you ask an ISK subscription</h3>
			<div style="padding: .3em;">
				Vippy requires servers to run on and servers are not free.
				The subscription help me cover the cost of running the servers.
			</div>
		</div>
		<div style="padding: 1em;">
			<h3>What happens if I forget to pay</h3>
			<div style="padding: .3em;">
				Vippy will calculate your current balance, if it goes negative you might lose access!<br />
				However, it is not super strict and Vippy will start giving you warnings long before you lose access.
			</div>
		</div>
		<div style="padding: 1em;">
			<h3>Can I pay in advance</h3>
			<div style="padding: .3em;">
				<strong>Yes!</strong> Vippy imports all payments via the eve api's, and will add any extra isk to your balance.
			</div>
		</div>
		<div style="padding: 1em;">
			<h3>Can I donate RL money</h3>
			<div style="padding: .3em;">
				I would rather stay away from any RL money transactions as possible.
				Technically donations are (currently) allowed by the EVE EULA, but, i'd rather not get involved in anything
				even remotely connected to RMT.
			</div>
			<div style="padding: .3em;">
				If you really want to donate me money, use ingame currency instead :)
			</div>
		</div>
		<div style="padding: 1em;">
			<h3>Vippy did not register my payment</h3>
			<div style="padding: .3em;">
				Because of the API and cache timers, it may take up to 2 hours for Vippy to detect your payment.
				If it takes longer then that, please contact <strong><a href="http://gate.eveonline.com/profile/bloemkoolsaus" target="blank">Bloemkoolsaus</a></strong> either ingame or through eve-mail.
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
</div>