
<form method="post" name="formAccessList" action="">
	<div class="content">
		<h1>{if !$accesslist}New {/if}Access List</h1>
		<div class="col5">
			<div class="form">
				<div class="field">Title:</div>
				<div class="value">
					<input type="text" name="title" value="{if $accesslist}{$accesslist->title}{/if}">
				</div>
			</div>
			<div class="form buttons">
				<button type="submit">
					<img src="/images/default/save.png">
					Save
				</button>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>

	{if $accesslist}
		<div class="content">
			<h2>Members</h2>
			<div class="col8">
				{if $accesslist->getAlliances()|@count > 0 || $accesslist->getCorporations()|@count > 0}
					<div class="col5" style="margin-right: 3em;">
						{if $accesslist->getAlliances()|@count > 0}
							<div style="margin-bottom: 1em;">
								<div style="margin: 2px;">
									<h3>Alliances:</h3>
								</div>
								{foreach from=$accesslist->getAlliances() item=alliance}
									<div style="margin: 2px;">
										<img src="http://image.eveonline.com/Alliance/{$alliance->id}_32.png" style="height: 18px;" align="left">
										<a href="/admin/accesslist/edit/{$accesslist->id}?deletealliance={$alliance->id}"><img src="/images/eve/cross.png" align="right"></a>
										&nbsp; {$alliance->name}
										<div style="clear:both;"></div>
									</div>
								{/foreach}
							</div>
						{/if}
						{if $accesslist->getCorporations()|@count > 0}
							<div style="margin-bottom: 1em;">
								<div style="margin: 2px;">
									<h3>Corporations:</h3>
								</div>
								{foreach from=$accesslist->getCorporations() item=corp}
									<div style="margin: 2px;">
										<img src="http://image.eveonline.com/Corporation/{$corp->id}_32.png" style="height: 18px;" align="left">
										<a href="/admin/accesslist/edit/{$accesslist->id}?deletecorp={$corp->id}"><img src="/images/eve/cross.png" align="right"></a>
										&nbsp; {$corp->name}
										<div style="clear:both;"></div>
									</div>
								{/foreach}
							</div>
						{/if}
					</div>
				{/if}
				{if $accesslist->getCharacters()|@count > 0}
					<div class="col5" style="margin-right: 3em; margin-bottom: 1em;">
						<div style="margin: 2px;">
							<h3>Characters:</h3>
						</div>
						{foreach from=$accesslist->getCharacters() item=character}
							<div style="margin: 2px;">
								<img src="http://image.eveonline.com/Corporation/{$character->getCorporation()->id}_32.png" style="height: 18px; margin-right: .2em;" align="left">
								<img src="http://image.eveonline.com/Character/{$character->id}_32.jpg" style="height: 18px; border-radius: 2px;" align="left">
								<a href="/admin/accesslist/edit/{$accesslist->id}?deletechar={$character->id}"><img src="/images/eve/cross.png" align="right"></a>
								&nbsp; [{$character->getCorporation()->ticker}] {$character->name}
								<div style="clear:both;"></div>
							</div>
						{/foreach}
					</div>
				{/if}
			</div>
			<div class="col4 right last">
				<div class="form">
					<h3>Add Member</h3>
				</div>
				<div class="form">
					<div class="field">Alliance:</div>
					<div class="value">
						<input type="hidden" id="alliance" name="alliance" value="">
						<input type="text" id="alliancename" name="alliancename" value="" rel="autocomplete" autocomplete="off"
							   table="alliances" field="alliance" keyfield="id" namefield="name" element="eve-elements-Alliance">
					</div>
				</div>
				<div class="form">
					<div class="field">Corporation:</div>
					<div class="value">
						<input type="hidden" id="corporation" name="corporation" value="">
						<input type="text" id="corporationname" name="corporationname" value="" rel="autocomplete" autocomplete="off"
							   table="corporations" field="corporation" keyfield="id" namefield="name" element="eve-elements-Corporation">
					</div>
				</div>
				<div class="form">
					<div class="field">Character:</div>
					<div class="value">
						<input type="hidden" id="character" name="character" value="">
						<input type="text" id="charactername" name="charactername" value="" rel="autocomplete" autocomplete="off"
							   table="characters" field="character" keyfield="id" namefield="name" element="eve-elements-Character">
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	{/if}
</form>


{literal}
	<script type="text/javascript">
		$(document).ready(function() {
			$("input#corporation").change(function() {
				document.formAccessList.submit();
			});
			$("input#alliance").change(function() {
				document.formAccessList.submit();
			});
			$("input#character").change(function() {
				document.formAccessList.submit();
			});
		});
	</script>
{/literal}