<form method="post" action="">
<input type="hidden" name="save" value="1"/>

{if isset($errors) && $errors|@count>0}
<div class="content">
	<div class="error">
		{foreach from=$errors key=e item=error}
			<p>{$error}</p>
		{/foreach}
	</div>
</div>
{/if}

<div class="content">
	<h1>Account Settings</h1>
	<div style="float: left; width: 49%;">
		<div class="form">
			<label class="field">Username:</label>
			<label class="value"><input type="text" name="username" value="{$user->username}"></label>
		</div>
		<div class="form">
			<label class="field">E-mail:</label>
			<label class="value"><input type="text" name="email" value="{$user->email}"></label>
		</div>
	{if $user->hasRight('atlas')}
		<div class="form" style="padding-top: 5px;">
			<label class="field">Unique Key:</label>
			<label class="value"><b>{$user->loginkey}</b></label>
		</div>
		<div class="form">
			<label class="field">&nbsp;</label>
			<label class="value" style='color: #FF2222;'>
				DO NOT SHARE THIS KEY WITH ANYONE!
			</label>
		</div>
	{/if}
	</div>
	<div style="float: right; width: 49%;">
		<div class="form">
			<label class="field">Password:</label>
			<label class="value"><input type="password" name="password1" value=""></label>
		</div>
		<div class="form">
			<label class="field">Password (again):</label>
			<label class="value"><input type="password" name="password2" value=""></label>
		</div>
		<div class="form" style="text-align: right;">
			<i>Leave password empty if you do <u>not</u> wish to change it.</i>
		</div>
	</div>
	<div style="clear:both;"></div>

	<div class="form" style="text-align: right; margin-top: 30px;">
		<button type="submit">Save Settings</button>
	</div>
	<div style="clear:both;"></div>
</div>

<div class="content">
	<h2>Personal Settings</h2>
{foreach from=$settings item=setting}
	<div class="form">
		<label class="field">{$setting->title}:</label>
		{assign var=val value=$user->getSetting($setting->name)}
		{$setting->getEditForm($val)}
	</div>
{/foreach}
	<div style="clear:both;"></div>

	<div class="form" style="text-align: right; margin-top: 30px;">
		<button type="submit">Save Settings</button>
	</div>
	<div style="clear:both;"></div>
</div>

</form>