
<div class="content">

	<h1>API Key Management</h1>

{if isset($errors)}
	<div class="error">
		{foreach from=$errors item=error}
			<div>{$error}</div>
		{/foreach}
	</div>
{/if}

	<form method="post" name="apiForm" action="">
	<input type="hidden" name="save" value="true"/>
	<input type="hidden" id="nrkeys" name="nrkeys" value="{$user->getApiKeys()|@count}"/>

	<div class="twothird left">
		<div id="apikeys">
		</div>
		<div style="text-align: right;margin-top: 10px;">
			<button type="button" onclick="addApiKey(); return false;">Add API Key</button>
			<button type="submit">Save</button>
		</div>
	</div>

	<div class="onethird right">
		<div class="message">
			<div>
				Create a <u>new</u> API key and enable the access to:
			</div>
			<div>
				&nbsp;&nbsp;&nbsp;
				`<span style="color: #66aaff;"><b>Private Information</b></span>`
				&nbsp; <strong>&gt;</strong> &nbsp;
				`<span style="color: #66aaff;"><b>CharacterSheet</b></span>`
			</div>
			<p>
				Access mask should be: &nbsp; <span style="color: #66aaff;"><b>8</b></span>
			</p>
			<br />
			<p style="text-align: right;">
				<a href="https://support.eveonline.com/api/Key/Index" target="_blank">https://support.eveonline.com/api/Key/Index</a>
			</p>
		</div>
	</div>

	<div style="clear:both;"></div>
</div>
</form>

{literal}
<script type="text/javascript">
$(document).ready(function () {
	{/literal}
{foreach from=$user->getApiKeys() item=key}
	addApiKey("{$key->keyID}","{$key->vCode}",{if $key->valid}true{else}false{/if},"{$key->getStatus()}");
{/foreach}

{if isset($saved)}
	checkAPIs();
{/if}
	{literal}
});
</script>
{/literal}


{literal}
<script id="apiKeyTPL" type="text/template">
<div class="contenttxt" data-apikey="{{keyid}}">
	<div class="left" style="width: 75px; height: 100px;">
		<img src="images/eve/profile.png">
	</div>
	<div class="form" style="width: 500px;">
		<label class="field" style="width: 110px;"><b>Key ID:</b></label>
		<div class="value" style="width: 350px;">
			<input type="text" name="api[{{i}}][keyid]" data-type="keyid" style="width: 70px;" value="{{keyid}}" />
			<div style="float: right;">
				<button type="button" class="small" style="width: 110px;" onclick="$('[data-apikey={{keyid}}]').remove(); document.apiForm.submit();">
					<img src="images/eve/cross.png" align="left">
					Delete Key
				</button>
			</div>
		</div>
	</div>
	<div class="form" style="width: 500px;">
		<label class="field" style="width: 110px;"><b>Verification Code:</b></label>
		<label class="value" style="width: 350px;">
			<input type="text" name="api[{{i}}][vcode]" data-type="vcode" style="width: 340px;" value="{{vcode}}" />
		</label>
	</div>
	<div class="form" style="width: 500px;">
		<label class="field" style="width: 110px;">&nbsp;</label>
		<label class="value" style="width: 350px;" data-valid="{{keyid}}">
			{{status}}
		</label>
	</div>
</div>
<div style="clear:both;"></div>
<br />
</script>
{/literal}