
<div class="content">
	<h1>Character Overview</h1>
{foreach from=$characters key=c item=char}
	<div style="float: {if $c%2==0}left{else}right{/if}; width: 450px; margin: 10px;">
		<div style="padding: 10px;">
			<div style="float: left; width: 160px;">
				<img src="http://image.eveonline.com/Character/{$char->id}_128.jpg" align="left" 
					style="margin-right: 2px; width: 100px; height: 100px; border: solid 1px {if $user->getMainCharacter()->id == $char->id}#FFAA00{else}#888888{/if}; border-radius: 5px;" />
				<img src="http://image.eveonline.com/Corporation/{$char->getCorporation()->id}_64.png" style="width: 45px; margin: 2px;" /><br />
			{if $char->getCorporation()->getAlliance() != null}
				<img src="http://image.eveonline.com/Alliance/{$char->getCorporation()->getAlliance()->id}_64.png" style="width: 45px; margin: 2px;" />
			{/if}
			</div>
			
			<div style="float: left; width: 260px;">
				<h3>{$char->name}</h3>
			{if $char->isCEO > 0}
				<i>CEO</i><br />
			{elseif $char->isDirector > 0}
				<i>Director</i><br />
			{/if}
				<strong>Corporation:</strong> 
				<i>{$char->getCorporation()->name}</i><br />
				<strong>Alliance:</strong>
			{if $char->getCorporation()->getAlliance() != null}
				<i>{$char->getCorporation()->getAlliance()->name}</i><br />
			{else}
				<i>None</i><br />
			{/if}
				<br />
				<strong>Source:</strong> 
			{if $char->apiKeyID != 0}
				API Fetched<br />
			{elseif $char->hasState()}
				<i>Crest</i><br />
			{else}
				<i>Location Tracker</i><br />
			{/if}
			{if $char->isAuthorized() && $user->getMainCharacter()->id != $char->id}
				<div style="text-align: right; margin-top: 12px;">
					<a href="index.php?module=profile&section=chars&setmain={$char->id}">Set {$char->name} as main</a>				
				</div>
			{/if}

			</div>
			
			
		</div>
	</div>
{if $c%2!=0}
	<div style="clear:both;"></div>
{/if}
{/foreach}
<!--  -->
    <div style="float: {if $c%2!=0}left{else}right{/if}; width: 450px; margin: 10px;">
		<div style="padding: 10px;">
			<div style="float: left; width: 160px;">
				<img src="/images/plus.png" align="left" 
					style="margin-right: 2px; width: 100px; height: 100px; 
					border: solid 1px #888888; border-radius: 5px;
					background-color: #999" />
				<!-- 
				<img src="http://image.eveonline.com/Corporation/{$char->getCorporation()->id}_64.png" style="width: 45px; margin: 2px;" /><br />
			    -->
			</div>
			<div style="float: left; width: 260px;">
				<h3>Add Character</h3>
				<form method="post" action="">
					<input type="hidden" name="addCharacter" value="true"/>
					<input type="image" src="images/ccp/EVE_SSO_Login_Buttons_Small_Black.png" alt="Login With EVE Online"/></label>
				</form> 
			</div>
	<div style="clear:both;"></div>
</div>