<div class="content">
	<h1>Wormhole Reference</h1>
	<table id="whcolors">
		<tr>
			<th>ORIGIN</th>
			<th style="text-align: center;" colspan="6">DESTINATION</th>
		</tr>
		<tr>
			<td></td>
			<td style="width: 100px; text-align: center;">Class 1</td>
			<td style="width: 100px; text-align: center;">Class 2</td>
			<td style="width: 100px; text-align: center;">Class 3</td>
			<td style="width: 100px; text-align: center;">Class 4</td>
			<td style="width: 100px; text-align: center;">Class 5</td>
			<td style="width: 100px; text-align: center;">Class 6</td>
		</tr>
		<tr>
			<td>Class 1</td>
			<td><img src="images/whcolors/wc_c1_to_c1_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c1_to_c2_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c1_to_c3_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c1_to_c4_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c1_to_c5_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c1_to_c6_wh.jpg" /></td>
		</tr>
		<tr>
			<td>Class 2</td>
			<td><img src="images/whcolors/wc_c2_to_c1_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c2_to_c2_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c2_to_c3_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c2_to_c4_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c2_to_c5_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c2_to_c6_wh.jpg" /></td>
		</tr>
		<tr>
			<td>Class 3</td>
			<td><img src="images/whcolors/wc_c3_to_c1_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c3_to_c2_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c3_to_c3_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c3_to_c4_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c3_to_c5_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c3_to_c6_wh.jpg" /></td>
		</tr>
		<tr>
			<td>Class 4</td>
			<td><img src="images/whcolors/wc_c4_to_c1_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c4_to_c2_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c4_to_c3_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c4_to_c4_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c4_to_c5_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c4_to_c6_wh.jpg" /></td>
		</tr>
		<tr>
			<td>Class 5</td>
			<td><img src="images/whcolors/wc_c5_to_c1_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c5_to_c2_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c5_to_c3_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c5_to_c4_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c5_to_c5_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c5_to_c6_wh.jpg" /></td>
		</tr>
		<tr>
			<td>Class 6</td>
			<td><img src="images/whcolors/wc_c6_to_c1_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c6_to_c2_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c6_to_c3_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c6_to_c4_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c6_to_c5_wh.jpg" /></td>
			<td><img src="images/whcolors/wc_c6_to_c6_wh.jpg" /></td>
		</tr>
	</table>
</div>
<div class="content">
	<h1>Wormhole Size Restrictions</h1>
	<table id="whtypes">
		<tr>
			<td><img src="images/whcolors/frigate.jpg"></td>
			<td>
				<h3>Frigate sized wormhole</h3>
				<div>
					A royal blue aurora indicates wormholes that only allow frigate-mass ships. 
					This is the most important one to recognise, particularly when approaching the K162 side. 
				</div>
				<div>
					<b>Ingame text:</b> Capital ships can pass through this wormhole<br />
					<i>Only frigates, destroyers, or specially fit HICs can pass through this hole</i> 
				</div>
			</td>
		</tr>
		<tr>
			<td><img src="images/whcolors/medium.jpg"></td>
			<td>
				<h3>Medium sized wormhole</h3>
				<div>
					A wormhole with a teal aurora won't allow battleships through, and is the indication of a 
					wormhole connecting to or from class 1 w-space.
				</div>
				<div>
					<b>Ingame text:</b> Up to medium size ships can pass through this wormhole<br />
					<i>Battlecruisers and smaller ships can pass through this hole</i>
				</div>
			</td>
		</tr>
		<tr>
			<td><img src="images/whcolors/large.jpg"></td>
			<td>
				<h3>Large sized wormhole</h3>
				<div>
					A turquoise aurora highlights a wormhole that allows every ship below capital hulls. 
				</div>
				<div>
					<b>Ingame text:</b> Larger ships can pass through this wormhole<br />
					<i>Battleships, Battlecruisers, and smaller ships can pass through this hole</i>
				</div>
			</td>
		</tr>
		<tr>
			<td><img src="images/whcolors/capital.jpg"></td>
			<td>
				<h3>Capital sized wormhole</h3>
				<div>
					A yellow aurora indicates wormholes that freighters and capitals can transit. 
				</div>
				<div>
					<b>Ingame text:</b> Capital ships can pass through this wormhole<br />
					<i>All ships smaller than a capital, including freighters, can pass through this hole</i> 
				</div>
			</td>
		</tr>
	</table>
</div>