<div class="content">
	<h1>Shattered Wormhole Systems</h1>
	<div>
		There are 75 Standard Shattered Wormhole Systems. Though they are similar to normal W-Space systems, the differ in significant ways:
	</div>
	<ul>
    	<li>They have no moons and every planet will be shattered.</li>
    	<li>They contain landmark sites that relate to ongoing developments in EVE and W-Space lore.</li>
    	<li>They have a somewhat higher occurrence of class-appropriate W-Space signatures and anomalies.</li>
    	<li>They have a celestial debris field asteroid belt which are richer than normal W-Space ore anomalies.</li>
    	<li>They contain mine-able ice fields.</li>
    	<li>They have additional K-Space static connection in addition to the normal statics they receive by virtue of their class.</li>
    	<li>They are distributed into all the existing wormhole classes, and some will have one of the current wormhole system effects.</li>
    	<li>There are also some "extra unique lore-connected surprises" in a small percentage of these new systems.</li>
    </ul> 
</div>

<div class="content">
	<h2>Small Ship Shattered Wormhole Systems</h2>
	<div>
		There are 25 Small Ship Shattered Wormhole Systems. 
		They inherit all the features of the Standard Shattered Systems, with the following additional properties:
	</div>
	<ul>
		<li>All wormholes in or out of these systems will be small ship wormholes. Only Frigates, Destroyers and specially fit Heavy Interdictors can use these wormholes.</li>
		<li>They receive anomaly and signature sites appropriate for wormholes between class 1 and class 3.</li>
		<li>They receive the system effects normally reserved for C6 Wolf Rayet systems.</li>
	</ul>
</div>