<div class="content">
	<h1>
		<img src="/images/default/ui/alliances.png" align="left">
		New Access Group
	</h1>
{if $errors|@count > 0}
	<div class="error">
	{foreach from=$errors item=error}
		<div>{$error}</div>
	{/foreach}
	</div>
{/if}
	<form method="post" action="/profile/accessgroup">
		<div class="col6">
			<div class="form">
				<div class="field">Name:</div>
				<div class="value">
					<input type="text" name="name" value="{$newname}">
				</div>
			</div>
			<div class="form" style="margin-top: 1em;">
				<div class="field">Allowed Corporations:</div>
				<div class="value">
				{foreach from=$alliances item=alliance}
					<div style="margin-bottom: 1em;">
						<input type="checkbox" name="alliances[{$alliance->id}]" checked>
						<img src="http://image.eveonline.com/Alliance/{$alliance->id}_32.png" style="height: 16px;">
						{$alliance->name} Alliance
					{foreach from=$alliance->getCorporations() item=corp}
						<div style="padding-left: 2em;">
							<input type="checkbox" name="corporations[{$corp->id}]" checked>
							<img src="http://image.eveonline.com/Corporation/{$corp->id}_32.png" style="height: 16px;">
							{$corp->name}
						</div>
					{/foreach}
					</div>
				{/foreach}
					<div>
						<i>No-Alliance</i>
					</div>
			{foreach from=$corporations item=corp}
				{if !$corp->getAlliance()}
					<div style="padding-left: 2em;">
						<input type="checkbox" name="corporations[{$corp->id}]" checked>
						<img src="http://image.eveonline.com/Corporation/{$corp->id}_32.png" style="height: 16px;">
						{$corp->name}
					</div>
				{/if}
			{/foreach}
				</div>
			</div>
			<div class="form buttons">
				<button type="submit">
					<img src="/images/default/ui/save.png" align="left">
					Create Group
				</button>
			</div>
		</div>
		<div class="col6 right last">
			<div class="message" style="padding: 1em;">
				<h3>Setting up a new access group</h3>
				<div>
					Vippy access is based on access groups. You can set wich corporations or alliances can see your access group.
				</div>
				<br />
				<h3>Using Vippy and RENT</h3>
				<div>
					You can use VIPPY for <b>free</b> for the first month! <u>This is a trial period</u> to see if you like Vippy.
				</div>
				<div>
					VIPPY does not run itself, the rent is mostly to help pay for server costs.
					After the trial ends, you will be expected to pay rent.
				</div>
				<div style="margin-top: 1em;">
					Please contact <a href="https://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloemkoolsaus</a> ingame if you want to go for a full subscription.
				</div>
				<div>
					Prices range from 100m for a small corp (10+ active users, not active toons) up to a maximum of 500m for a large corp (50+)
				</div>
				<br />
				<h3>HELP</h3>
				<div>
					If you need help, have a problem or have a question, please contact <a href="https://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloemkoolsaus</a> ingame!
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</form>
</div>