<div class="content">
	<h1>
		<img src="/images/default/ui/alliances.png" align="left">
		New Access Group
	</h1>
{if $errors|@count > 0}
	<div class="error">
	{foreach from=$errors item=error}
		<div>{$error}</div>
	{/foreach}
	</div>
{/if}
	<form method="post" action="/profile/accessgroup">
		<div class="col6">
			<div class="form">
				<div class="field"><strong>Name:</strong></div>
				<div class="value">
					<input type="text" name="name" value="{$newname}">
				</div>
			</div>
			<div class="form" style="margin-top: 1em;">
				<div class="field"><strong>Allowed Alliances:</strong></div>
				<div class="value">
				{foreach from=$alliances item=alliance}
					<div>
						<input type="checkbox" name="alliances[{$alliance->id}]" checked>
						<img src="http://image.eveonline.com/Alliance/{$alliance->id}_32.png" style="height: 16px;">
						{$alliance->name}
					</div>
				{/foreach}
				</div>
			</div>
			<div class="form" style="margin-top: .5em;">
				<div class="field"><strong>Allowed Corporations:</strong></div>
				<div class="value">
				{foreach from=$corporations item=corp}
					<div>
						<input type="checkbox" name="corporations[{$corp->id}]" checked>
						<img src="http://image.eveonline.com/Corporation/{$corp->id}_32.png" style="height: 16px;">
						{$corp->name}
					</div>
				{/foreach}
				</div>
			</div>
			<div class="form" style="margin-top: 1em; text-align: right;">
				<div style="font-style: italic;">If you allow an alliance, every corporation is granted access</div>
			</div>
			<div class="form buttons" style="margin-top: 1em;">
				<button type="submit">
					<img src="/images/default/register.png" align="left">
					Create Group
				</button>
			</div>
		</div>
		<div class="col6 right last">
			<div class="standout" style="padding: 1em; margin: 0;">
				<div>
					<h3>Setting up a new access group</h3>
					<div style="margin-top: .3em;">
						Vippy access is based on access control groups.<br />
						You can set wich corporations and/or alliances are part of your access group.
					</div>
				</div>
				<div style="margin-top: 1.5em;">
					<h3>Using Vippy and subscription</h3>
					<div style="margin-top: .3em;">
						You can use VIPPY for <strong>free</strong> for the first month! <u>This is a trial period</u> to see if you like Vippy.
					</div>
					<div>
						VIPPY does not run itself! the subscription is mostly to help pay for server costs.
						After the trial ends, you will be expected to pay a subscription fee.
						More information on Vippy's <a href="/help/subscription" target="_blank">subscription system</a>.
					</div>
				</div>
				<div style="margin-top: 1.5em;">
					<h3>HELP</h3>
					<div style="margin-top: .3em;">
						If you need help, have a problem or have a question, please contact <a href="https://gate.eveonline.com/profile/bloemkoolsaus" target="_blank">Bloemkoolsaus</a> ingame!
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
		<br />
	</form>
</div>