
h3 {
    margin-top: .5em !important;
    margin-bottom: .5em !important;
    font-size: 1.2em !important;
}

div#aboutVippy {
    font-size: 1.1em;
}

div.features img {
    margin-right: 2em;
    margin-bottom: 1em;
    border-radius: .8em;
    border: solid 1px #555555;
    max-width: 95%;
}