<div class="content">
	<h1 style="margin-bottom: 0;">
		<img src="/images/default/ui/capitalnavigation.png" align="left">
		Profile: Capital ships
	</h1>
</div>

{include "profile/menu"}

<div class="content">
	<div class="col8">
		<div class="standout" style="margin: 0;">
			<div>
				When you add a capital ship, VIPPY will calculate and show the amount of cyno jumps from your capital
				to a kspace system on the map.
			</div>
		</div>
	</div>
	<div class="col4 right last">
		<div style="text-align: right; margin-bottom: 1em;">
			<button type="button" onclick="document.location='/profile/capitals/edit/new'">
				<img src="/images/default/ui/plus.png" align="left">
				Add Capital Ship
			</button>
		</div>
	</div>
	<table class="sectionoverview">
		<tr>
			<th style="width: 200px;">Ship</th>
			<th style="width: 150px;">Location</th>
			<th>Description</th>
			<th style="width: 50px;"></th>
		</tr>
	{foreach from=$capitals key=i item=cap}
		<tr class="{if $i%2==0}even{else}odd{/if}">
			<td onclick="document.location='/profile/capitals/edit/{$cap->id}'">
				{$cap->getShip()->name}
				&nbsp; - &nbsp;
				<i>{$cap->getShip()->getShipType()}</i>
			</td>
			<td onclick="document.location='/profile/capitals/edit/{$cap->id}'">
			{if $cap->getSolarSystem()}
				{$cap->getSolarSystem()->getFullname()}
			{else}
				<i>Unknown</i>
			{/if}
			</td>
			<td onclick="document.location='/profile/capitals/edit/{$cap->id}'">
				{$cap->description}
			</td>
			<td style="text-align: center;">
				<a href="/profile/capitals/edit/{$cap->id}"><img src="/images/default/ui/edit.png"></a>
				<a href="/profile/capitals/delete/{$cap->id}"><img src="/images/default/cross.png"></a>
			</td>
		</tr>
	{/foreach}
	</table>
</div>