<div class="content">
	<h1>
		<img src="/images/default/stats.png" style="width: 32px;" align="left">
		&nbsp;Statistics {$month}
		<div style="float: right; width: 400px; text-align: right; margin-top: -7px;">
			<button type="button" class="small" style="width: 160px;" onclick="document.location='/stats/statistics/{$sdate|date_format:"Y"}/{($sdate|date_format:"m")-1}'">
				<img src="/images/default/left.png" align="left" />
				Previous Month
			</button>
			<button type="button" class="small" style="width: 140px;" onclick="document.location='/stats/statistics/{$sdate|date_format:"Y"}/{($sdate|date_format:"m")+1}'">
				Next Month
				<img src="/images/default/right.png" align="right" />
			</button>
		</div>
	</h1>
	<div style="clear:both;"></div>

	<div style="float: left; width: 43%;">
		<div style="margin: 10px;">
			<table class="sectionoverview" style="width: 100%;">
				<tr>
					<th class="large">Corporation</th>
					<th style="width: 50px; text-align: center;">Active Members</th>
					<th style="width: 60px; text-align: center;">Total Sigs Scanned</th>
					<th style="width: 50px; text-align: center;">Ratio<br />Sigs/User</th>
					<th style="width: 50px; text-align: center;">Ratio<br />Sigs/Time</th>
					<th style="width: 60px; text-align: center;">Total WHs Mapped</th>
				</tr>
	{assign var=i value=0}
	{foreach from=$corporations item=corp}
		{if $corp.users|@count > 0}
			{assign var=totalHours value=0}
			{assign var=totalSigs value=0}
			{assign var=totalWhs value=0}
			{assign var=totsigs value=0}
			{foreach from=$corp.users key=s item=user}
				{assign var=totalHours value=$totalHours+$user.user->getHoursOnline($sdate, $edate)}
				{assign var=totalSigs value=$totalSigs+$user.sigs}
				{assign var=totalWhs value=$totalWhs+$user.whs}
			{/foreach}
				<tr class="{if $i%2==0}even{else}odd{/if}">
					<td>
						<div style="width: 99%; overflow: hidden; white-space: nowrap;">
							<img src="http://image.eveonline.com/Corporation/{$corp.corp->id}_32.png"
								style="height: 18px; margin: -1px; margin-right: 10px;" align="left">
							{$corp.corp->name}
						</div>
					</td>
					<td style="text-align: center;">
						{$corp.users|@count}
					</td>
					<td style="text-align: center;">
						{$totalSigs}
					</td>
					<td style="text-align: center; font-weight: bold;">
						{($totalSigs/$corp.users|@count)|@round}
					</td>
					<td style="text-align: center;">
						{($totalSigs/$totalHours)|round:1}
					</td>
					<td style="text-align: center;">
						{$totalWhs}
					</td>
				</tr>
			{assign var=i value=$i+1}
		{/if}
	{/foreach}
			</table>
		</div>
	</div>
	<div style="float: right; width: 54%;">
		<div class="message">
			<ul>
				<li>These statistics are only availible for Admins!</li>
				<li>
					Active users:
					<ul>
						<li>Users that have logged in to VIPPY via the Ingame Browser</li>
					</ul>
				</li>
			{if $authGroup->getConfig('stats_kills')}
				<li>
					Total kills:
					<ul>
						<li>Total amount of kills made in this month.</li>
						<li>Kills from (known) alts are included.</li>
						<li>Multiboxed kills are excluded. If you are on the same kill with 2 toons, only 1 counts.</li>
						<li>Data from: <a href="http://stats.limited-power.co.uk/" target="_blank">http://stats.limited-power.co.uk/</a></li>
					</ul>
				</li>
				<li>
					Required Sigs:
					<ul>
						<li>Amount of signatures that should have been scanned, based on the amount of kills.</li>
						<li>For each kill 5 signatures need to be scanned.</li>
						<li>Kills made in a logistics ship are excluded.</li>
						<li>Kills made in a recon only require 3 signatures.</li>
					</ul>
				</li>
			{/if}
			</ul>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>

<div class="content">
	<h2>Corporation details</h2>
{foreach from=$corporations item=corp}
	{assign var=totalHours value=0}
	{assign var=totalSigs value=0}
	{assign var=totalWHs value=0}
	{assign var=totalKills value=0}
	{assign var=totalQuota value=0}
	{if $corp.users|@count > 0}
	<div style="float: left; margin: 10px;">
		<table class="sectionoverview">
			<tr>
				<th class="large" colspan="2">
					<div style="width: 145px; overflow: hidden; white-space: nowrap;">
						<img src="http://image.eveonline.com/Corporation/{$corp.corp->id}_32.png"
							style="height: 24px; margin: -2px;" align="left">
						&nbsp; {$corp.corp->name}
					</div>
				</th>
				<th style="width: 30px; text-align: center;">Total WHs</th>
				<th style="width: 30px; text-align: center;">Total Sigs</th>
			{if $authGroup->getConfig('stats_kills')}
				<th style="width: 30px; text-align: center;">Total Kills</th>
				<th style="width: 30px; text-align: center;">Req. Sigs</th>
			{/if}
                <th style="width: 30px; text-align: center;">Hours Online</th>
				<th style="width: 30px; text-align: center;">Sigs p/hour</th>
			{if $authGroup->getConfig('stats_kills')}
				<th style="width: 30px; text-align: center;">SCORE</th>
			{/if}
			</tr>
	{assign var=i value=0}
	{foreach from=$corp.users key=s item=user}
		{assign nrhours $user.user->getHoursOnline($sdate, $edate)}
		{assign var=totalHours value=$totalHours+$nrhours}
		{assign var=totalSigs value=$totalSigs+$user.sigs}
		{assign var=totalWHs value=$totalWHs+$user.whs}
		{if isset($user.kills) && $user.kills > 0}
			{assign var=totalKills value=$totalKills+$user.kills}
		{/if}
		{assign var=sigsQuote value=0}
		{if isset($user.reqsigs) && $user.reqsigs > 0}
			{assign var=sigsQuote value=$totalKills+$user.reqsigs}
		{/if}
		{assign var=totalQuota value=$totalQuota+$sigsQuote}
			<tr class="{if $i%2==0}even{else}odd{/if}"
				onclick="window.open('index.php?module=users&action=edit&id={$user.user->id}');">
				<td style="padding: 0; width: 20px;">
					<img src="http://image.eveonline.com/Character/{$user.user->getMainCharacter()->id}_32.jpg"
						style="height: 20px; margin: 1px; margin-bottom: -2px;">
				</td>
				<td>
					&nbsp;{$user.user->getMainCharacter()->name}&nbsp;
				</td>
				<td style="text-align: center; color: #ffffff;">
					{if $user.whs > 0}{$user.whs}{/if}
				</td>
				<td style="text-align: center; color: #ffffff;">
					{if $user.sigs > 0}{$user.sigs}{/if}
				</td>
			{if $authGroup->getConfig('stats_kills')}
				<td style="text-align: center; color: #aaaaaa;">
					{if isset($user.kills) && $user.kills > 0}{$user.kills}{/if}
				</td>
				<td style="text-align: center; color: {if $user.reqsigs > $user.sigs}#ff0000{else}#ffffff{/if};">
					{if isset($user.reqsigs) && $user.reqsigs > 0}{$user.reqsigs}{/if}
				</td>
			{/if}
				<td style="text-align: center; color: #aaaaaa;">
					{$nrhours}
				</td>
				<td style="text-align: center; color: #aaaaaa;">
					{if $nrhours > 0 && $user.sigs > 0}
						{($user.sigs/$nrhours)|round:1}
					{/if}
				</td>
			{if $authGroup->getConfig('stats_kills')}
				<td style="text-align: center; font-weight: bold;
					{if isset($user.score)}
						{if $user.score < 45}
								background-color: #cc0000; color: #ffffff;
						{elseif $user.score < 55}
								background-color: #ff8800; color: #ffffff;
						{elseif $user.score >= 85}
								background-color: #00aa00; color: #ffffff;
						{elseif $user.score >= 80}
								background-color: #008800; color: #ffffff;
						{else}
								background-color: #558822; color: #ffffff;
						{/if}
					{/if}">
				{if isset($user.score)}
					{$user.score/10}
				{/if}
				</td>
			{/if}
			</tr>
			{assign var=i value=$i+1}
	{/foreach}
			<tr>
				<td></td>
				<td></td>
				<th style="text-align: center;">
					{$totalWHs}
				</th>
				<th style="text-align: center;">
					{$totalSigs}
				</th>
			{if $authGroup->getConfig('stats_kills')}
				<th style="text-align: center;">
					{$totalKills}
				</th>
				<th style="text-align: center;">
					{$totalQuota}
				</th>
			{/if}
				<th style="text-align: center;">
					{$totalHours}
				</th>
				<th style="text-align: center;">
					{if $nrhours > 0}
						{($totalSigs/$totalHours)|round:1}
					{/if}
				</th>
			{if $authGroup->getConfig('stats_kills')}
			{/if}
			</tr>
		</table>
	</div>
	{/if}
	{/foreach}

	<div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>