<div class="content">
	<h1>Access Control Group - {$authgroup->name}</h1>

{if $errors|@count > 0}
	<div class="error">
	{foreach from=$errors item=error}
		<div>{$error}</div>
	{/foreach}
	</div>
	<br />
{/if}

	<form method="post" name="formAuthGroup" action="">
	<input type="hidden" name="id" value="{$authgroup->id}" />
{if $authgroup->getConfig('wh_naming_numeric')}
	<input type="hidden" name="config[wh_naming_numeric]" value="1">
{/if}
{if $authgroup->getConfig('atlas_url')}
	<input type="hidden" name="config[atlas_url]" value="{$authgroup->getConfig('atlas_url')}">
{/if}

	<div style="float: left; width: 40%;">
		<div class="form">
			<label class="field">Name:</label>
			<label class="value">
			{if $App->user->getIsSysAdmin()}
				<input type="text" name="name" value="{$authgroup->name}"/>
			{else}
				{$authgroup->name}
			{/if}
			</label>
		</div>
	{if $authgroup->id > 0}
		<div class="form">
			<label class="field">Main chain:</label>
			<label class="value">
				<select name="mainchain">
					<option value="null">-- none --</option>
				{foreach from=$authgroup->getChains() item=chain}
					<option value="{$chain->id}" {if $chain->id == $authgroup->mainChainID}selected{/if}>{$chain->name}</option>
				{/foreach}
				</select>
			</label>
		</div>
	{/if}
		<div class="form">
			<label class="field">&nbsp;</label>
			<input type="checkbox" id="dir_admin_disabled" name="config[dir_admin_disabled]" {if $authgroup->getConfig('dir_admin_disabled')}checked{/if} value="1">
			<label for="dir_admin_disabled" style="float: none;">Disable default admin roles for Directors</label>
		</div>
		<div style="clear:both;"></div>
		<br />
		<div class="form" style="text-align: right;">
			<button type="submit">Save</button>
		</div>
	</div>

	<div style="float: right; width: 55%;">
	{if $authgroup->id > 0}
		<div style="float: left; width: 300px;">
			<div class="form">
				<div class="field"><b><u>Alliances:</u></b></div>
				<div class="value" style="width: 270px;">
				{foreach from=$authgroup->getAlliances() item=alliance}
					<div style="margin: 2px;">
						<img src="http://image.eveonline.com/Alliance/{$alliance->id}_32.png" style="height: 18px;" align="left">
						<a href="/index.php?module=admin&section=authgroups&action=edit&id={$authgroup->id}&deletealliance={$alliance->id}"><img src="images/eve/cross.png" align="right"></a>
						&nbsp; {$alliance->name}
					</div>
					<div style="clear:both;"></div>
				{/foreach}
				</div>
			</div>
			<div style="clear:both;"></div>
			<br />
			<div class="form">
				<div class="field"><b><u>Corporations:</u></b></div>
				<div class="value" style="width: 270px;">
				{foreach from=$authgroup->getCorporations() item=corp}
					<div style="margin: 2px;">
						<img src="http://image.eveonline.com/Corporation/{$corp->id}_32.png" style="height: 18px;" align="left">
						<a href="index.php?module=admin&section=authgroups&action=edit&id={$authgroup->id}&deletecorp={$corp->id}"><img src="images/eve/cross.png" align="right"></a>
						&nbsp; {$corp->name}
					</div>
					<div style="clear:both;"></div>
				{/foreach}
				</div>
			</div>
			<div style="clear:both;"></div>
			<br />
	{if $App->user->getIsSysAdmin()}
			<div class="form">
				<div class="field"><b><u>Allowed (non public) Modules:</u></b></div>
				<div class="value">
					<ul>
					{foreach from=$authgroup->getModules() item=mod}
						<li>{$mod|ucfirst}</li>
					{/foreach}
					</ul>
				</div>
			</div>
			<div style="clear:both;"></div>
			<br />
	{/if}
		</div>
		<div style="float: left; width: 200px;">
			<div>
				<div class="field"><b>Add Alliance</b></div>
				<div style="padding: 10px;">
					{$addAllianceElement->getEditHTML()}
				</div>
			</div>
			<div style="clear:both;"></div>
			<br />
			<div>
				<div class="field"><b>Add Corporation</b></div>
				<div style="padding: 10px;">
					{$addCorporationElement->getEditHTML()}
				</div>
			</div>
			<div style="clear:both;"></div>
			<br />
		</div>
	{else}
		<div>
			<h3>Subscription</h3>
			<div class="form">
				<label class="field">Description:</label>
				<label class="value">
					<input type="text" name="subscription[description]">
				</label>
			</div>
			<div class="form">
				<label class="field">Amount:</label>
				<label class="value">
					<input type="text" name="subscription[amount]" style="width: 50px;">
					&nbsp; (million isk a month)
				</label>
			</div>
			<div class="form">
				<label class="field">Valid:</label>
				<label class="value">
					From: &nbsp; <input type="text" name="subscription[fromdate]" rel="datepicker" style="width: 80px;">
					&nbsp; &nbsp; &nbsp;
					Untill: &nbsp; <input type="text" name="subscription[tilldate]" rel="datepicker" style="width: 80px;">
				</label>
			</div>
	</div>
	{/if}
	</div>

	{literal}
	<script type="text/javascript">
	$(document).ready(function() {
		$("input#corporation").change(function() {
			document.formAuthGroup.submit();
		});
		$("input#alliance").change(function() {
			document.formAuthGroup.submit();
		});
	});
	</script>
	{/literal}

	</form>
	<div style="clear:both;"></div>

</div>

{if $authgroup->getSubscription() != null}
<div class="content">
	<h2>Subscription</h2>

	<div style="float: left; width: 35%;">
		<div style="padding: 10px;">
			<h3>BALANCE</h3>
			<div style="padding: 5px;">
		{if $monthsdue|@count > 0}
				{assign var=totaldue value=0}
				<table class="sectionoverview">
					<tr>
						<th>Month</th>
						<th style="width: 70px;">Cost</th>
						<th style="width: 70px;">Received</th>
						<th style="width: 70px;">Due</th>
					</tr>
			{foreach from=$monthsdue key=i item=due}
					<tr class="{if $i%2==0}even{else}odd{/if}">
						<td><b>{$due.month}</b></td>
						<td style="width: 100px; text-align: right;">{$due.due|valuta:1}</td>
						<td style="text-align: right;">{$due.amount|valuta:1}</td>
						<td style="text-align: right;">{($due.due-$due.amount)|valuta:1}</td>
					</tr>
				{assign var=totaldue value=$totaldue+($due.due-$due.amount)}
			{/foreach}
					<tr>
						<td colspan="3" style="text-align: right;">
						{if $totaldue < 0}
							<b>TOTAL ADVANCE</b>
						{else}
							<b>TOTAL DUE</b>
						{/if}
							 &nbsp;
						</td>
						<th style="text-align: right;">
							<h3>
						{if $totaldue < 0}
								<span style="color: #00ff00;"> + {($totaldue*-1)|valuta:1}</span>
						{else}
							{if $totaldue == 0}
								<span style="color: #00ff00;">{$totaldue|valuta:1}</span>
							{else}
								{$totaldue|valuta:1}
							{/if}
						{/if}
							</h3>
						</th>
					</tr>
				</table>
		{/if}
			</div>
		</div>
	</div>
	<div style="float: right; width: 60%;">
		<div style="padding: 10px;">
			<h3>
				Subscriptions
			{if $App->user->getIsSysAdmin()}
				<div style="text-align: right; float: right;">
					<button type="button" class="small" style="width: 150px;" onclick="document.location='/index.php?module=admin&section=subscriptions&action=new&authgroup={$authgroup->id}'">
						New Subscription
					</button>
				</div>
			{/if}
			</h3>
			<table class="sectionoverview">
				<tr>
					<th>Description</th>
					<th>Amount</th>
					<th>Start</th>
					<th>End</th>
				</tr>
			{foreach from=$authgroup->getSubscriptions() key=s item=subscription}
				<tr class="{if $s%2==0}even{else}odd{/if}"
					{if $App->user->getIsSysAdmin()}onclick="document.location='/index.php?module=admin&section=subscriptions&action=edit&id={$subscription->id}'"{/if}>
					<td>
						{$subscription->description}
					{if $subscription->isActive()}
						<img src="images/default/accept.png" align="right">
					{/if}
					</td>
					<td style="text-align: right;">
					{if $subscription->amount <= 0}
						Free
					{else}
						{$subscription->amount}m &nbsp; (<i>per month</i>)
					{/if}
					 	&nbsp;
					</td>
					<td>
						{$subscription->fromdate|date_full}
					</td>
					<td>
					{if $subscription->tilldate != null}
						{$subscription->tilldate|date_full}
					{else}
						<i>No end date</i>
					{/if}
					</td>
				</tr>
			{/foreach}
			</table>
		</div>
		<div style="padding: 10px;">
			<h3>Payments</h3>
			<table class="sectionoverview">
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th>By</th>
					<th>Description</th>
				</tr>
		{if $authgroup->getPayments()|@count > 0}
			{foreach from=$authgroup->getPayments() key=i item=transaction}
				<tr class="{if $i%2==0}even{else}odd{/if}">
					<td>
						{$transaction->date|date_full}
						-
						{$transaction->date|date_time}
					</td>
					<td style="text-align: right; {if $transaction->amount > 0}color: #00ff00;{/if}">
						{$transaction->amount|valuta} &nbsp;
					</td>
					<td>{$transaction->getFromCharacter()->name}</td>
					<td>{$transaction->description}</td>
				</tr>
			{/foreach}
		{else}
				<tr class="even">
					<td colspan="4">
						<i>No payments detected</i>
					</td>
				</tr>
		{/if}
			</table>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>

<div class="content">
	<h2>{$authgroup->getAllowedUsers()|@count} Authorized Users</h2>
	<div>
	{foreach from=$authgroup->getAllowedUsers() item=user}
		<div style="float: left; width: 200px; padding: 2px;">
			<img src="http://image.eveonline.com/Character/{$user->getMaincharacter()->id}_32.jpg" align="left" style="height: 16px; border-radius: 2px; margin-right: 5px;">
			<a href="index.php?module=users&action=edit&id={$user->id}" target="_blank">{$user->getFullname()}</a>
			<div style="clear:both;"></div>
		</div>
	{/foreach}
	</div>
	<div style="clear:both;"></div>
</div>
{/if}