<div class="content">
	<h1>Access Control Group - {$authgroup->name}</h1>

{if $errors|@count > 0}
	<div class="error">
	{foreach from=$errors item=error}
		<div>{$error}</div>
	{/foreach}
	</div>
	<br />
{/if}

	<form method="post" name="formAuthGroup" action="">
	<input type="hidden" name="id" value="{$authgroup->id}" />
{if $authgroup->getConfig('wh_naming_numeric')}
	<input type="hidden" name="config[wh_naming_numeric]" value="1">
{/if}
{if $authgroup->getConfig('atlas_url')}
	<input type="hidden" name="config[atlas_url]" value="{$authgroup->getConfig('atlas_url')}">
{/if}

	<div class="col5">
		<div class="form">
			<label class="field">Name:</label>
			<label class="value">
			{if $App->user->getIsSysAdmin()}
				<input type="text" name="name" value="{$authgroup->name}"/>
			{else}
				{$authgroup->name}
			{/if}
			</label>
		</div>
		<div class="form">
			<label class="field">Rank leaderboard by:</label>
			<label class="value">
				<select name="config[rank_leaderboard]">
					<option value="signatures" {if $authgroup->getConfig('rank_leaderboard') != 'wormholes'}selected{/if}>Signatures scanned</option>
					<option value="wormholes" {if $authgroup->getConfig('rank_leaderboard') == 'wormholes'}selected{/if}>Wormholes mapped</option>
				</select>
			</label>
		</div>
		<div class="form">
			<label class="field">&nbsp;</label>
			<input type="checkbox" id="access_control" name="config[access_control]" {if $authgroup->getConfig('access_control') == "manual"}checked{/if} value="manual">
			<label for="access_control" style="float: none;">Members require authorization by an admin.</label>
			<img src="/images/eve/info.png" onclick="helpPopupAuthorization();" style="cursor: pointer;">
		</div>
	</div>

	<div class="col2">
		<h3>
			Systems of interest
			<img src="/images/eve/info.png" onclick="helpPopupTradehubs();" style="cursor: pointer;" align="right">
		</h3>
		<input type="hidden" name="removeSystem" value="">
		<table class="sectionoverview">
			<tr>
				<th>SolarSystem</th>
				<th style="text-align: center;" colspan="2">On Map</th>
			</tr>
		{assign var=i value=0}
		{foreach from=$authgroup->getClosestSystems() item=system}
			<tr id="closeSystem{$system->getSolarSystem()->id}" class="{if $i%2==0}even{else}odd{/if}">
				<td>
				{if !isset($system->tradeHub)}
					<input type="hidden" name="closestsystems[systems][]" value="{$system->getSolarSystem()->id}">
				{/if}
					{$system->getSolarSystem()->name}
				</td>
				<td style="text-align: center; padding: 0;">
					<input type="checkbox" name="closestsystems[onmap][{$system->getSolarSystem()->id}]" style="margin: 0;"
						   {if isset($system->tradeHub) || $system->showOnMap}checked{/if}>
				</td>
				<td style="text-align: center;">
				{if !isset($system->tradeHub)}
					<img src="/images/eve/cross.png" onclick="$('input[name=removeSystem]').val('{$system->getSolarSystem()->id}'); document.formAuthGroup.submit();">
				{/if}
				</td>
			</tr>
		{assign var=i value=$i+1}
		{/foreach}
		</table>
		<br />
		<div>
			<div class="field"><b>Add System:</b></div>
			<div style="padding: 5px;">
				{$addSolarsystemElement->getEditHTML()}
			</div>
		</div>
	</div>

	<div class="col5 last right">
	{if $authgroup->id > 0}
		<div class="col8">
			<div class="form">
				<div class="field" style="white-space: nowrap;">
					<h3>Authorized Alliances:<h3>
				</div>
				<div class="value" style="width: 230px;">
				{foreach from=$authgroup->getAlliances() item=alliance}
					<div style="margin: 2px;">
						<img src="http://image.eveonline.com/Alliance/{$alliance->id}_32.png" style="height: 18px;" align="left">
						<a href="/admin/authgroup/edit/{$authgroup->id}?deletealliance={$alliance->id}"><img src="/images/eve/cross.png" align="right"></a>
						&nbsp; {$alliance->name}
					</div>
					<div style="clear:both;"></div>
				{/foreach}
				</div>
			</div>
			<div style="clear:both;"></div>
			<br />
			<div class="form">
				<div class="field" style="white-space: nowrap;">
					<h3>Authorized Corporations:</h3>
				</div>
				<div class="value" style="width: 230px;">
				{foreach from=$authgroup->getCorporations() item=corp}
					<div style="margin: 2px;">
						<img src="http://image.eveonline.com/Corporation/{$corp->id}_32.png" style="height: 18px;" align="left">
						<a href="/admin/authgroup/edit/{$authgroup->id}?deletecorp={$corp->id}"><img src="/images/eve/cross.png" align="right"></a>
						&nbsp; {$corp->name}
					</div>
					<div style="clear:both;"></div>
				{/foreach}
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="col4 last right">
			<div>
				<div class="field"><b>Add Alliance</b></div>
				<div style="padding: 10px;">
					{$addAllianceElement->getEditHTML()}
				</div>
			</div>
			<div style="clear:both;"></div>
			<br />
			<div>
				<div class="field"><b>Add Corporation</b></div>
				<div style="padding: 10px;">
					{$addCorporationElement->getEditHTML()}
				</div>
			</div>
			<div style="clear:both;"></div>
			<br />
		</div>
	{else}
		<div>
			<h3>Subscription</h3>
			<div class="form">
				<label class="field">Description:</label>
				<label class="value">
					<input type="text" name="subscription[description]">
				</label>
			</div>
			<div class="form">
				<label class="field">Amount:</label>
				<label class="value">
					<input type="text" name="subscription[amount]" style="width: 50px;">
					&nbsp; (million isk a month)
				</label>
			</div>
			<div class="form">
				<label class="field">Valid:</label>
				<label class="value">
					From: &nbsp; <input type="text" name="subscription[fromdate]" rel="datepicker" style="width: 80px;">
					&nbsp; &nbsp; &nbsp;
					Untill: &nbsp; <input type="text" name="subscription[tilldate]" rel="datepicker" style="width: 80px;">
				</label>
			</div>
		</div>
	{/if}
		<div style="clear:both;"></div>
		<div class="standout">
			<div>
				When you add an alliance, <strong>all</strong> corporations in that alliance will be authorized!
			</div>
		</div>
	</div>

	<div style="clear:both;"></div>
	<br />
	<br />

	<div class="form" style="text-align: right;">
		<button type="submit">
			<img src="/images/default/save.png" align="left"> &nbsp;
			Save Settings
		</button>
	</div>

	{literal}
	<script type="text/javascript">
	$(document).ready(function() {
		$("input#corporation").change(function() {
			document.formAuthGroup.submit();
		});
		$("input#alliance").change(function() {
			document.formAuthGroup.submit();
		});
		$("input#addclosesystem").change(function() {
			document.formAuthGroup.submit();
		});
	});
	</script>
	{/literal}

	</form>
	<div style="clear:both;"></div>

</div>

<div class="content">
	<div class="tabs">
		<ul>
			<li><a href="#" onclick="showTabs('subscriptions'); return false;">Subscription</a></li>
			<li><a href="#" onclick="showTabs('users'); return false;">{$authgroup->getAllowedUsers()|@count} Users</a></li>
			<li><a href="#" onclick="showTabs('usergroups'); return false;">Usergroups</a></li>
		</ul>
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>
</div>

<div id="detailtab-subscriptions" class="content" rel="detailtab">{include "admin/authgroups/subscription"}</div>
<div id="detailtab-users" class="content" rel="detailtab" style="display: none;">{include "admin/authgroups/users"}</div>
<div id="detailtab-usergroups" class="content" rel="detailtab" style="display: none;">{include "admin/authgroups/usergroups"}</div>


<script type="text/javascript">
function helpPopupAuthorization()
{
	html = "<h3>Members require authorization by an admin</h3>" +
			"<p>A users characters is pulled via the API. If they have a toon that is in an allowed corp/alliance, the user will get access.</p>" +
			"<p>If you check this option, a user will also need to be manually authorized by an admin.<br />" +
			"<span style='color:red;'><b>WARNING:</b> Toggling this option can potentially disable access for a lot of users!</span></p>";
	showHelp(html);
}
function helpPopupTradehubs()
{
	html = "<h3>Systems of interest</h3>" +
			"<p>These are the systems that VIPPY will show the distance (in nr jumps) to on the map.</p>" +
			"<p>The 'On Map' parameter sets wether or not to use for the closest system on the map. When off, the system is only shown on the mouse over details of a system.</p>" +
			"<p>*<i>The default trade hubs cannot be removed, but can be hidden on the map.</i></p>";
	showHelp(html);
}
</script>