<div class="content">
	<h1>Access Control Groups</h1>
	<div style="text-align: right; padding: 1em;">
		<button type="button" onclick="document.location='/admin/authgroup/new/'">
			New control group
		</button>
	</div>
	<div>
		{assign var=activeUsers value=0}
		{assign var=totalUsers value=0}
		<table class="sectionoverview">
			<tr>
				<th>Name</th>
				<th>Contact</th>
				<th style="width: 200px; text-align: center;">License</th>
				<th style="width: 80px; text-align: center;">Active Users</th>
				<th style="width: 80px; text-align: center;">Allowed Users</th>
				<th style="width: 200px; text-align: center;">Last Active</th>
				<th style="width: 50px;"></th>
			</tr>
	{foreach from=$authgroups key=i item=group}
		{if $group->isActive()}
			<tr class="{if $i%2==0}even{else}odd{/if}">
				<td onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{$group->name}
				</td>
				<td onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
				{if $group->getContactUser()}
					{$group->getContactUser()->getFullname()}
				{/if}
				</td>
				<td style="text-align: right;" onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					<img src="/images/eve/{if $group->isAllowed()}apply{else}cross{/if}.png" align="left">
			{if $group->getSubscription() != null}
				{if $group->getSubscription()->getAmount() == 0}
					<div style='text-align: center;'><i>free license</i></div>
				{else}
					<b>{$group->getSubscription()->getAmount()/100/1000000}m</b> &nbsp; p/month &nbsp;
				{/if}
			{/if}
				</td>
				<td style="text-align: center;" onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{$group->getActiveUsers()|@count}
				</td>
				<td style="text-align: center;" onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{$group->getAllowedUsers()|@count}
				</td>
				<td style="text-align: center;" onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{if $group->getLastActiveDate()}
						{$group->getLastActiveDate()|date_age} ago
					{/if}
				</td>
				<td style="text-align: center;">
					<a href="/admin/authgroup/edit/{$group->id}/"><img src="/images/default/edit.png"></a>
				</td>
			</tr>
			{assign var=activeUsers value=$activeUsers+$group->getActiveUsers()|@count}
			{assign var=totalUsers value=$totalUsers+$group->getAllowedUsers()|@count}
		{/if}
	{/foreach}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<th style="text-align: center;">{$activeUsers}</th>
				<th style="text-align: center;">{$totalUsers}</th>
				<td></td>
			</tr>
		</table>
	</div>
	<div style="padding-top: 2em;">
		<h2>In-Active groups</h2>
		<table class="sectionoverview">
			<tr>
				<th>Name</th>
				<th>Contact</th>
				<th style="width: 200px; text-align: center;">License</th>
				<th style="width: 80px; text-align: center;">Active Users</th>
				<th style="width: 80px; text-align: center;">Allowed Users</th>
				<th style="width: 200px; text-align: center;">Last Active</th>
				<th style="width: 50px;"></th>
			</tr>
	{foreach from=$authgroups key=i item=group}
		{if !$group->isActive()}
			<tr class="{if $i%2==0}even{else}odd{/if}">
				<td onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{$group->name}
				</td>
				<td onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{$group->getContactUser()->getFullname()}
				</td>
				<td style="text-align: right;" onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					<img src="/images/eve/{if $group->isAllowed()}apply{else}cross{/if}.png" align="left">
					{if $group->getSubscription() != null}
						{if $group->getSubscription()->getAmount() == 0}
							<div style='text-align: center;'><i>free license</i></div>
						{else}
							<b>{$group->getSubscription()->getAmount()/100/1000000}m</b> &nbsp; p/month &nbsp;
						{/if}
					{/if}
				</td>
				<td style="text-align: center;" onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{$group->getActiveUsers()|@count}
				</td>
				<td style="text-align: center;" onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{$group->getAllowedUsers()|@count}
				</td>
				<td style="text-align: center;" onclick="document.location='/admin/authgroup/edit/{$group->id}/'">
					{if $group->getLastActiveDate()}
						{$group->getLastActiveDate()|date_age} ago
					{/if}
				</td>
				<td style="text-align: center;">
					<a href="/admin/authgroup/edit/{$group->id}/"><img src="/images/default/edit.png"></a>
				</td>
			</tr>
		{/if}
	{/foreach}
		</table>
	</div>
</div>