<div style="padding: 1em;">
	<h2>Subscription</h2>
	<form method="post" action="/admin/subscription/store/">
		<input type="hidden" name="id" value="{$subscription->id}">
		<input type="hidden" name="authgroup" value="{$subscription->authgroupID}">
		<div class="form">
			<div class="field">Description:</div>
			<div class="value">
				<input type="text" name="description" value="{$subscription->description}">
			</div>
		</div>
		<div class="form">
			<div class="field">Amount:</div>
			<div class="value">
				<input type="text" name="amount" value="{$subscription->amount}" style="width: 80px;">
				&nbsp; (million isk a month)
			</div>
		</div>
		<div class="form">
			<div class="field">Valid From:</div>
			<div class="value">
				<input type="text" name="fromdate" rel="datepicker" value="{$subscription->fromdate|date_date:'d-m-Y'}" style="width: 80px;">
			</div>
		</div>
		<div class="form">
			<div class="field">Valid Untill:</div>
			<div class="value">
				<input type="text" name="tilldate" rel="datepicker" value="{$subscription->tilldate|date_date:'d-m-Y'}" style="width: 80px;">
			</div>
		</div>
		<div class="form buttons">
			<div class="field">&nbsp;</div>
			<div class="value" style="text-align: right;">
				<button type="submit">
					<img src="/images/default/save.png" align="left">
					Save
				</button>
			</div>
		</div>
	</form>
	<div style="clear:both;"></div>
</div>