<div class="content">
	<h1>Usergroup</h1>
{if isset($errors) && $errors|@count > 0}
	<div class="error">
	{foreach from=$errors key=e item=error}
		<div>{$error}</div>
	{/foreach}
	</div>
{/if}
</div>

<div class="content">
    <div class="col7">
        <form method="post" action="" name="formEditUserGroup">
            <input type="hidden" name="save" value="true" />
            <input type="hidden" name="id" value="{$usergroup->id}"/>
            <div class="form">
                <div class="field">Access Control Group:</div>
                <div class="value">
				{if $App->user->getIsSysAdmin()}
					<select name="authgroupid">
						<option value="0">- none -</option>
					{foreach from=$accessgroups item=accessgroup}
						<option value="{$accessgroup->id}" {if $accessgroup->id == $usergroup->authGroupID}selected{/if}>
							{$accessgroup->name}
						</option>
					{/foreach}
					</select>
				{else}
					{if $usergroup->getAuthgroup() != null}
						{$usergroup->getAuthgroup()->name}
					{/if}
				{/if}
                </div>
            </div>
            <div class="form">
                <div class="field">Name:</div>
                <div class="value"><input type="text" name="name" value="{$usergroup->name}" /></div>
            </div>
            <div style="clear:both;"></div>
            <br />
            <div class="form">
                <div class="field">&nbsp;</div>
                <h3>Group Roles</h3>
            </div>
            <div class="form">
                <div class="field">&nbsp;</div>
                <input type="checkbox" name="roles[admin]" id="roles-admin" {if $usergroup->hasRight('admin','admin')}checked{/if}>
                <div for="roles-admin" style="float: none;">VIPPY Admin</div>
            </div>
            <div class="form" style="text-align: right;">
                <div class="buttons">
                    <button type="submit">Save</button>
                </div>
            </div>
        </form>
        <div style="clear:both;"></div>
    </div>
    <div class="col5 right last">
        <h3>Members</h3>
    {if $usergroup->getUsers()|@count > 0}
        <ul>
        {foreach from=$usergroup->getUsers() item=user}
            <li style="margin-bottom: 5px;">
                <a href="/users/user/edit?id={$user->id}" target="_blank">{$user->getFullname()}</a>
                &nbsp;
                <a href="/users/groups/edit/{$usergroup->id}?deleteuser={$user->id}">
                    <img src="/images/default/cross.small.png" style="top: 3px;">
                </a>
            </li>
        {/foreach}
        </ul>
    {else}
        <i>No members</i>
    {/if}
        <div style="padding: 10px;">
            <form method="post" action="">
                <div class="form">
                    Add member to group: &nbsp;
                    <select name="adduser">
                        <option value=""></option>
                    {foreach from=$usergroup->getAuthgroup()->getAllowedUsers() item=user}
                        <option value="{$user->id}">{$user->getFullname()}</option>
                    {/foreach}
                    </select> &nbsp;
                    <button type="submit" class="small">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>