<h2>
	<img src="/images/default/ui/member.png" align="left">
	Add Character
</h2>
<div class="col5">
	<div style="padding-top: 1em;">
		<strong>Login to the SSO to add a Character</strong>
	</div>
	<div style="padding-top: 1em;">
		<form method="post" action="/profile/characters/addnew">
			<input type="hidden" name="addCharacter" value="true"/>
			<button class="evelogin" title="Login With EVE Online">&nbsp;</button>
		</form>
	</div>
</div>
<div class="col7 right last">
	<div class="standout">
		<div style="padding: .5em;">
			<div><strong>Logging in with multiple eve accounts</strong></div>
			<div>If the EVE SSO logs you into the `wrong` account, press `cancel` and you will be able to login to a different eve account.</div>
		</div>
	</div>
</div>
<div style="clear:both;"></div>