<div style="padding: .5em;">
	<div style="float: left; width: 20%;">
		<img src="https://image.eveonline.com/Character/{$character->id}_200.jpg" style="width: 99%; margin: 1px; border-radius: 5px;">
	</div>
	<div style="float: left; width: 10%;">
		<div>
			<img src="https://image.eveonline.com/Corporation/{$character->getCorporation()->id}_128.png" style="width: 99%; margin: 1px; border-radius: 5px;">
		</div>
	{if $character->getCorporation()->getAlliance()}
		<div>
			<img src="https://image.eveonline.com/Alliance/{$character->getCorporation()->getAlliance()->id}_128.png" style="width: 99%; margin: 1px; border-radius: 5px;">
		</div>
	{/if}
	</div>
	<div style="float: right; width: 68%;">
		<h2 style="border: 0; margin: 0;">{$character->name}</h2>
		<div style="font-size: .8em;">
		{if $character->isCEO()}
			CEO
		{elseif ($character->isDirector())}
			Director
		{/if}&nbsp;
		</div>
		<div style="margin-top: .9em;">
			<strong>Corporation:</strong> &nbsp;
			<i>{$character->getCorporation()->name}</i>
		</div>
		<div>
			<strong>Alliance:</strong> &nbsp;
		{if $character->getCorporation()->getAlliance()}
			<i>{$character->getCorporation()->getAlliance()->name}</i>
		{else}
			<i>None</i>
		{/if}
		</div>
		<div style="margin-top: .9em;">
			<strong>Access:</strong> &nbsp;
			<span style="color: {if $character->isAuthorized()}#55ff55{else}#ff5555{/if};">
				<img src="/images/default/{if $character->isAuthorized()}apply.small.png{else}cross.small.png{/if}">
				{$character->getAuthStatus()}
			</span>
		</div>
		<div>
			<strong>Last Updated:</strong> &nbsp;
			<i>{$character->updatedate|date_full} &nbsp;-&nbsp; {$character->updatedate|date_time}</i>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>