<div id="registerform">
	<div class="content">
		<div style="padding-left: 8em; padding-right: 8em;">
			<h1>
				<img src="/images/default/register.png" align="left">
				Register
			</h1>
		{if $errors|@count > 0}
			<div class="error" style="margin-bottom: 1em;">
				{foreach from=$errors item=error}
					<div>{$error}</div>
				{/foreach}
			</div>
		{/if}
			<form method="post" action="">
				<div id="username" class="form">
					<div class="field">Username:</div>
					<div class="value"><input type="text" name="username" value="{if isset($smarty.post.username)}{$smarty.post.username}{/if}" /></div>
				</div>
				<div id="email" class="form">
					<div class="field">E-mail:</div>
					<div class="value"><input type="text" name="email" value="{if isset($smarty.post.email)}{$smarty.post.email}{/if}" /></div>
				</div>
				<div id="password1" class="form">
					<div class="field">Password:</div>
					<div class="value"><input type="password" name="password1" value="" /></div>
				</div>
				<div id="password2" class="form">
					<div class="field">Password: (<i>again</i>)</div>
					<div class="value"><input type="password" name="password2" value="" /></div>
				</div>
				<div style="clear:both;"></div>
				<div style="text-align: right; padding: 20px;">
					<button type="submit">Register</button>
				</div>
			</form>
		</div>
	</div>
	<div class="content">
		<div class="message">
			<img src="/images/eve/warning.large.png" style="height: 32px; margin-right: 1em;" align="left">
			<div style="color: #CC0000;"><b>Please note that you only need <u>one</u> Vippy-account</b></div>
			<div>Using CREST, you can use multiple characters on one Vippy-account!</div>
		</div>
	</div>
</div>