div#loginform {
	margin: 0 auto;
	width: 600px;
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}
div#loginform div.loginSubForm {
	margin: 0 auto;
	width: 400px;
}

div#registerPage {
	margin: 0 auto;
	width: 700px;
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}
div#registerPage div.registerSubForm {
	margin: 0 auto;
	width: 600px;	
}
div#registerPage div.registerSubForm label.field {
	width: 100px !important;
}
div#registerPage div.registerSubForm label.value {
	width: 230px !important;
}
div#registerPage div.registerSubForm label.value input {
	width: 99% !important;
}

div#registerform {
	float: left;
	width: 60%;
}
div#registertext {
	float: right;
	width: 38%;
}

div#loginform div.form label.value,
div#loginform div.form label.value input,
div#registerform div.form label.value,
div#registerform div.form label.value input {
	width: 250px;
}

div#loginform div.form label.field,
div#registerform div.form label.field {
	width: 140px;
}