<div id="wh-details">
    <h2>
    {if $wormhole->getSolarsystem()}
        <span style="color:{$wormhole->getSolarsystem()->getClassColor()}">
            {$wormhole->getSolarsystem()->getClass(1)}
        </span>
        {$wormhole->getSolarsystem()->name} -
    {else}
        <span style="color: #eeeeee;">Unmapped</span>
    {/if}
        {$wormhole->name}
    </h2>
    <div style="clear: both;"></div>

{if $wormhole->getSolarsystem()}
    <div class="col7">
        <div id="wh-details-titles">
        {if $wormhole->getSolarsystem()->getKnownSystem() !== null && $wormhole->getSolarsystem()->getKnownSystem()->name != ''}
            <h3 style="color:{$wormhole->getSolarsystem()->getKnownSystem()->getColor()};">
                {$wormhole->getSolarsystem()->getKnownSystem()->name}
            </h3>
        {/if}
        </div>
        <div id="wh-details-properties">
    {if $wormhole->getSolarsystem()->isWSpace()}
            <div class="form">
                <div class="field">Static:</div>
                <div class="value">
            {if $wormhole->getSolarsystem()->getStatics()|@count > 0}
                {foreach from=$wormhole->getSolarsystem()->getStatics() item=static}
                    <div>{$static}</div>
                {/foreach}
            {/if}
                </div>
            </div>
            <div class="form">
                <div class="field">Effect:</div>
                <div class="value">
                {if $wormhole->getSolarsystem()->getEffect() != null}
                    {$wormhole->getSolarsystem()->getEffect()}
                {else}
                    <span class="subtle">No Effect</span>
                {/if}
                </div>
            </div>
    {else}
            <div class="form">
                <div class="field">Security:</div>
                <div class="value" style="color:{$wormhole->getSolarsystem()->getClassColor()};">
                    {$wormhole->getSolarsystem()->security|round:1}
                </div>
            </div>
    {/if}
            <div class="form">
                <div class="field">Status:</div>
                <div class="value">
                {if $wormhole->getSolarsystem()->getStatus() == 1}
                    <span class="subtle">Unknown</span>
                {elseif $wormhole->getSolarsystem()->getStatus() == 2}
                    <span style="color:#00CC00;">Uninhabited</span>
                {elseif $wormhole->getSolarsystem()->getStatus() == 3}
                    <span style="color:#FFAA00;">Inhabited</span>
                {elseif $wormhole->getSolarsystem()->getStatus() == 4}
                    <span style="color:#CC0000;">Active</span>
                {/if}
                </div>
            </div>

            <div style="clear: both;"></div>
            <br />

    {if !$wormhole->getSolarsystem()->isWSpace()}
        {if $wormhole->getSolarsystem()->isHSIsland() > 0}
            <div class="form">
                <img src="/images/eve/stargate.red.png" align="left"/>
                &nbsp;
                <span style="color:#CC0000;">High-Sec Island</span>
            </div>
        {/if}
        {if $wormhole->getSolarsystem()->isDirectHS() > 0}
            <div class="form">
                <img src="/images/eve/stargate.green.png" align="left"/>
                &nbsp;
                Has High-Sec gate
            </div>
        {/if}
        {if $wormhole->getSolarsystem()->getNrStations() > 0}
            <div class="form">
                <img src="/images/eve/station.png" align="left"/>
                &nbsp;
                {$wormhole->getSolarsystem()->getNrStations()} Stations / Outposts
            </div>
        {/if}
        {if $wormhole->getSolarsystem()->isFactionWarfareSystem()}
            <div class="form">
            {if $wormhole->getSolarsystem()->isContested()}
                <img src="/images/eve/fw.contested.png" align="left"/>
            {else}
                <img src="/images/eve/fw.png" align="left"/>
            {/if}
                &nbsp;
                Faction Warfare system
            </div>
        {/if}
    {/if}

        </div>
    </div>
    <div class="col5 right last">
{if $wormhole->getSolarsystem()->isWSpace()}
    {if $wormhole->getSolarsystem()->getEffect() != null}
        <div id="wh-details-effect">
            <h3>{$wormhole->getSolarsystem()->getEffect()}</h3>
            <div>
                {$wormhole->getSolarsystem()->getEffect(true)}
            </div>
        </div>
    {/if}
{else}
        <div id="wh-details-tradehubs">
        {foreach from=$wormhole->getSolarsystem()->getTradehubDistances() item=hub}
            <div class="form">
                <div class="field">{$hub.name}:</div>
                <div class="value">{$hub.jumps} jumps</div>
            </div>
        {/foreach}
        </div>
{/if}
    </div>

    <div style="clear: both;"></div>
    <br />

{if $wormhole->getSolarsystem()->getActivePilots()|@count > 0}
    <br />
    <div id="wh-details-pilots">
        <div class="whPilot">
            <h3>Active Pilots</h3>
        </div>
        <div class="whPilotTime">
            <strong>Last Reported</strong>
        </div>
        <div style="clear:both;"></div>
    {foreach from=$wormhole->getSolarsystem()->getActivePilots() item=pilot}
        <div class="whPilot">
            - {$pilot.name} ({$pilot.ship})
        </div>
        <div class="whPilotTime">
            {($pilot.lastdate|date_age:1)|strtolower} ago
        </div>
        <div style="clear:both;"></div>
    {/foreach}
    </div>
    <div style="clear:both;"></div>
{/if}

{if !$wormhole->getSolarsystem()->isWSpace()}
    <br />
    <h3>Activity Report</h3>
    <div id="wh-details-activity">
        <div id="whInfoActivity">
            <img src="/images/loading.gif" align="left" />
            &nbsp; Loading Report
        </div>
        <div id="whActivityDate"></div>
    </div>

    <div style="clear: both;"></div>
    <br />
{/if}

{else}

    <div id="wh-unmapped">
        <ol>
            <li>And after these things Bob came forth from the unknown, having great power, and the wormhole was lightened with his glory.</li>
            <li>He commanded mightily with a strong voice, saying: New Eden the great is fallen, is fallen, and is become the habitation of devils and faithless, and the hold of every foul spirit, and a cage of every unclean and hateful soul.</li>
            <li>For all capsuleers have drunk of the wine of the wrath of their fornication, and the kings of the New Eden have committed fornication with another, and the merchants of the New Eden are waxed rich through the abundance of our treasures.</li>
            <li>And another voice from the unknown, saying: Come out, my nomads, that ye be not partakers of their sins, and that ye receive not of their plagues. For I am Rob, who bathes in the blood of the faithless souls of our ilk.</li>
            <li>For their sins have reached unto your wormholes, and Bob hath remembered their iniquities.</li>
            <li>Reward them even as they rewarded you, and double unto them double according to their works: in the cup which they hath filled fill to their double. A war with the faithless is just and righteous.</li>
            <li>How much they hath glorified themselves, and lived deliciously, so much torment and sorrow give them: for they saith in their heart, I sit alone, and am mine own king, and shall see none above me.</li>
            <li>Therefore shall their plagues come in one day, death, and mourning, and famine; and they shall be utterly burned with the fire of our wrath: for strong is the Lord Bob who judgeth them.</li>
        </ol>
        <div style="text-align: right;">
            <i>* The Book of Rob, Chapter 18, Versus 1-8</i>
        </div>
    </div>

{/if}

</div>