<div class="vippy-news">
	<h1>
		<img src="/images/favicon-white.png" align="left">
		Vippy News
		<button class="small" style="float: right; width: 28px;" onclick="destroyPopup()">
			<img src="/images/default/ui/cross.png" style="height: 16px;">
		</button>
	</h1>
	<div>
	{foreach from=$news item=article}
		<div class="vippy-news-article">
			{include file=$article->getTemplate()}
		</div>
		<div style="clear: both;"></div>
	{/foreach}
	</div>
	<div style="clear: both;"></div>
	<div style="text-align: right;">
		* <i>More changes in the <a href="/system/patchnotes">patchnotes</a></i>
	</div>
	<div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>