<div id="mainmenu">
	<ul class="mainmenu">
		<li class="mainmenu first" rel="Home">
			<a href="index.php" title="Home">VIPPY</a>
			<div id="submenuHome" class="submenu">
				<ul class="submenu">
					<li class="submenu" onclick="document.location='index.php?module=admin&section=changelog'; return false;">
						<a href="index.php?module=admin&section=changelog" title="Patch/Change History">Patch Notes</a>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</li>
{foreach from=$mainMenu key=i item=link}
		<li class="mainmenu" rel="{$link.name}">
			<a href="index.php?module={$link.url}" title="{$link.name}" {if isset($link.newwindow)}target="_blank"{/if}>{$link.name}</a>
{if isset($link.subMenu) && $link.subMenu|@count > 0}
			<ul class="submenu">
	{foreach from=$link.subMenu key=j item=sublink}
		{if $sublink.type=='seperator'}
				<li class="seperator">&nbsp;</li>
		{else}
			{if isset($sublink.onclick)}
				<li onclick="{$sublink.onclick}">
					<a href="#" title="{$sublink.name}" onclick="return false;">{$sublink.name}</a>
				</li>
			{else}
				<li>
					<a href="index.php?{$sublink.url}" title="{$sublink.name}">{$sublink.name}</a>
				</li>
			{/if}
		{/if}
	{/foreach}
		</ul>
{/if}
		</li>
{/foreach}
		<li class="mainmenu" rel="Logout">
			<a href="index.php?action=logout" title="Logout">Logout</a>
		</li>
	</ul>
	<div class="clear"></div>
</div>
<div class="clear"></div>